// Alignment options
// -------------------------

// bottom
.nav-tabs-bottom {

  border-top: 1px solid $nav-tabs-border-color;

  > li {
    > a:hover,
    > a:focus,
    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      border: 1px solid $nav-tabs-active-link-hover-border-color;
      border-top-color: transparent;
    }
  }
}

// left
.nav-tabs-left {
  border-bottom: 0;
  border-right: 1px solid $nav-tabs-border-color;

  > li {

    > a:hover,
    > a:focus,
    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      border: 1px solid $nav-tabs-active-link-hover-border-color;
      border-right-color: transparent;
    }
  }

  .row > & {

    & + .tab-content {
      border-left: 1px solid $nav-tabs-active-link-hover-border-color;
    }
  }
}

// right
.nav-tabs-right {
  border-bottom: 0;
  border-left: 1px solid $nav-tabs-border-color;

  > li {

    > a:hover,
    > a:focus,
    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      border: 1px solid $nav-tabs-active-link-hover-border-color;
      border-left-color: transparent;
    }
  }

}
