//
// BASE STYLES
//


// -------------------------------------------------------------
// # General
// -------------------------------------------------------------

// Include border and padding in width
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    line-height: $line-height;
    color: $black;
    font-family: $sans;
    font-size: $font-size--small;

    @include bp(md) {
        font-size: $font-size;
    }
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin: $margin 0;
    padding: 0;
    list-style-position: inside;
}
