/*
    Page Invoice
    ========================================================================== */


/*
    Invoice
    ------------------------------------- */
    .invoice-container{

        .table-invoice{
            background: color(white);
            border: 1px solid #ddd;
        }
    }

    .invoice-header{
        background: color(white);

        @include clearfix;
    }

    .table-invoice{

        thead{
//            background: $color-4;
        }


    }

//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
