/*
    Widget - Tabs
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-tabs{

		.nav{
			background: $tabs-nav-bg;
			border-bottom: none;
			@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));

			> li{
				border-right: 1px solid $tabs-nav-a-bd;

				> a {
					border: none;

					&:hover,
					&:focus{
						border: none ;
					}
				}
			}

			.last{
				border-right: none;
			}
		}

	}

/*
    Tabs in Header
    ------------------------------------- */
	.tabs-in-header{

	}

/*
    Tabs in Sidebar
    ------------------------------------- */
	.tabs-in-side{

	}

/*
    Tabs in Box
    ------------------------------------- */
	.tabs-in-box{

	}

//  Theme
//  -------------------------------------
	.t-tabs-1{

	}

	.t-tabs-2{

	}

	.t-tabs-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
