	<!-- Core JS files -->
    <!-- ===== JS =====-->
    <!-- jQuery-->
    <script src="js/basic/jquery.min.js"></script>
    <script src="js/basic/jquery-migrate.min.js"></script>
    <!-- General-->
    <script src="js/basic/modernizr.min.js"></script>
    <script src="js/basic/bootstrap.min.js"></script>
    <script src="js/shared/jquery.cupcakeWidget.js"></script>
    <script src="js/plugins/plugins.js"></script>
    <script src="js/general.js"></script>
    <!-- Semi general-->
    <script type="text/javascript">
      var paceSemiGeneral = { restartOnPushState: false };
      if (typeof paceSpecific != 'undefined'){
      	var paceOptions = $.extend( {}, paceSemiGeneral, paceSpecific );
      	paceOptions = paceOptions;
      }else{
      	paceOptions = paceSemiGeneral;
      }
    </script>
    <script src="js/plugins/pageprogressbar/pace.min.js"></script>
    <!-- Specific-->
    <script src="js/shared/jquery.cookie.min.js"></script>
    <script src="js/shared/jquery.easing.1.3.js"></script>
    <script src="js/shared/perfect-scrollbar.min.js"></script>
    <script src="js/plugins/accordions/jquery.collapsible.min.js"></script>
    <script src="js/plugins/charts/c3/c3.min.js"></script>
    <script src="js/plugins/charts/c3/d3.v3.min.js"></script>
    <script src="js/plugins/charts/other/jquery.easypiechart.min.js"></script>
    <script src="js/plugins/charts/rickshaw/rickshaw.min.js"></script>
    <script src="js/plugins/datetime/jqClock.min.js"></script>
    <script src="js/plugins/forms/elements/jquery.bootstrap-touchspin.min.js"></script>
    <script src="js/plugins/forms/elements/jquery.checkBo.min.js"></script>
    <script src="js/plugins/forms/elements/jquery.switchery.min.js"></script>
    <script src="js/plugins/table/footable.all.min.js"></script>
    <script src="js/plugins/tabs/jquery.easyResponsiveTabs.js"></script>
    <script src="js/plugins/textrotator/jquery.simple-text-rotator.min.js"></script>
    <script src="js/plugins/tooltip/jquery.tooltipster.min.js"></script>
    <script src="js/plugins/weather/jquery.simpleWeather.min.js"></script>
    <script src="js/calls/dashboard.1.js"></script>
    <script src="js/calls/part.header.1.js"></script>
    <script src="js/calls/part.sidebar.2.js"></script>
    <script src="js/calls/part.theme.setting.js"></script>
    <script src="js/calls/shared.tooltipster.js"></script>
	<!-- /core JS files -->
