    <!-- BEGIN CORE TEMPLATE JS -->
	<!-- Core JS files -->
	<script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->
	<!-- /core JS files -->
    {% block addition_core_pages_js %}{% endblock %}
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    {% block addition_js %}{% endblock %}
    <!-- <script src="assets/js/scripts.js" type="text/javascript"></script> -->
    <!-- END PAGE LEVEL JS -->
