<div class="container-fluid container-fixed-lg pull-bottom hidden-xs">
    <div class="copyright no-border">
        <p class="small no-margin pull-left"><span class="hint-text">Copyright &copy; 2014</span>
            <span class="font-montserrat">REVOX</span>. 
            <span class="hint-text">All rights reserved.</span> 
            <span>
                <a class="m-l-10" href="#">Terms of use</a>
                <a class="m-l-10" href="#">Privacy Policy</a>
            </span>
        </p>
        <p class="small no-margin pull-right">
            <a href="#"> Hand-crafted</a> 
            <span class="hint-text">&amp; Made with Love
            &copy;</span>
        </p>
        <div class="clearfix"></div>
    </div>
</div>