 <aside id="sb-left" class="l-sidebar l-sidebar-1 t-sidebar-1">
        <!--Switcher-->


        <!-- Logo in Sidebar-->
        <div class="l-side-box">
          <!--Logo-->
          <div class="widget-logo logo-in-side">
            <a href="index.html"><span class="logo-default visible-default-inline-block"><img src="img/cupcake1.svg" style="width: 250px; height: auto;"></span><span class="logo-medium visible-compact-inline-block"><img src="img/cupcake2.svg" style="width: 110px; height: auto;"></span><span class="logo-small visible-collapsed-inline-block"><img src="img/cupcake2.svg" style="width: auto; height: 45px;"></span></a></div>
        </div>
        <!--Main Menu-->
        <div class="l-side-box">
          <!--MAIN NAVIGATION MENU-->
          <nav class="navigation">
            <ul data-cupcake-type="menu" class="cupcake-widget">
            <li {% if active_parent=="index" %} class="active" {% endif %}><a href="#"><i class="icon simpleline simpleline-home"></i><span class="title">Dashboard</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                <ul>
                  <li {% if active_page=="index" %} class="active" {% endif %}><a href="index.html"><span class="title">Dashboard 1</span></a>
                  </li>
                  <li><a href="dashboard-2.html"><span class="title">Dashboard 2</span></a>
                  </li>
                </ul>
              </li>
              <li><a href="#"><i class="icon simpleline simpleline-layers"></i><span class="title">Layouts</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                <ul>
                  <li><a href="layout-menu.html"><span class="title">Menu</span></a>
                  </li>
                  <li><a href="#"><span class="title">Page</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                    <ul>
                      <li><a href="layout-page-full.html"><span class="title">Full Width</span></a>
                      </li>
                      <li><a href="layout-page-boxed.html"><span class="title">Boxed</span></a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#"><span class="title">Sidebar</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                    <ul>
                      <li><a href="#"><span class="title">Compact</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                        <ul>
                          <li><a href="layout-sidebar-compact-left.html"><span class="title">Left</span></a>
                          </li>
                          <li><a href="layout-sidebar-compact-right.html"><span class="title">Right</span></a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#"><span class="title">Collapsed</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                        <ul>
                          <li><a href="layout-sidebar-collapsed-left.html"><span class="title">Left</span></a>
                          </li>
                          <li><a href="layout-sidebar-collapsed-right.html"><span class="title">Right</span></a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#"><span class="title">Pixel Based</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                        <ul>
                          <li><a href="layout-sidebar-left.html"><span class="title">Left</span></a>
                          </li>
                          <li><a href="layout-sidebar-right.html"><span class="title">Right</span></a>
                          </li>
                          <li><a href="layout-sidebar-2-left.html"><span class="title">2 Left</span></a>
                          </li>
                          <li><a href="layout-sidebar-2-right.html"><span class="title">2 Right</span></a>
                          </li>
                          <li><a href="layout-sidebar-left-right.html"><span class="title">Left and Right</span></a>
                          </li>
                          <li><a href="layout-sidebar-1-left-2-right.html"><span class="title">1 Left and 2 Right</span></a>
                          </li>
                          <li><a href="layout-sidebar-1-right-2-left.html"><span class="title">1 Right and 2 Left</span></a>
                          </li>
                          <li><a href="layout-sidebar-2-left-2-right.html"><span class="title">2 Left and 2 Right</span></a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#"><span class="title">Percentage Based</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                        <ul>
                          <li><a href="layout-sidebar-percent-left.html"><span class="title">Left</span></a>
                          </li>
                          <li><a href="layout-sidebar-percent-right.html"><span class="title">Right</span></a>
                          </li>
                          <li><a href="layout-sidebar-percent-left-right.html"><span class="title">Left and Right</span></a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#"><span class="title">Slide</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                        <ul>
                          <li><a href="layout-sidebar-slide-default.html"><span class="title">Default</span></a>
                          </li>
                          <li><a href="layout-sidebar-slide-static.html"><span class="title">Static</span></a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#"><span class="title">Slide and Push</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                        <ul>
                          <li><a href="layout-sidebar-slide-push-default.html"><span class="title">Default</span></a>
                          </li>
                          <li><a href="layout-sidebar-slide-push-static.html"><span class="title">Static</span></a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#"><span class="title">Header</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                    <ul>
                      <li><a href="layout-header-default.html"><span class="title">Default 1</span></a>
                      </li>
                      <li><a href="layout-header-default-2.html"><span class="title">Default 2</span></a>
                      </li>
                      <li><a href="layout-header-fixed.html"><span class="title">Fixed</span></a>
                      </li>
                      <li><a href="layout-header-fixed-boxed.html"><span class="title">Fixed and Boxed</span></a>
                      </li>
                      <li><a href="layout-header-sticky.html"><span class="title">Sticky</span></a>
                      </li>
                      <li><a href="layout-header-sticky-boxed.html"><span class="title">Sticky and Boxed</span></a>
                      </li>
                      <li><a href="layout-header-slide.html"><span class="title">Slide</span></a>
                      </li>
                      <li><a href="layout-header-slide-push.html"><span class="title">Slide and Push</span></a>
                      </li>
                      <li><a href="layout-header-multiple.html"><span class="title">Multiple</span></a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#"><span class="title">Footer</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                    <ul>
                      <li><a href="layout-footer-default.html"><span class="title">Default 1</span></a>
                      </li>
                      <li><a href="layout-footer-default-2.html"><span class="title">Default 2</span></a>
                      </li>
                      <li><a href="layout-footer-fixed.html"><span class="title">Fixed</span></a>
                      </li>
                      <li><a href="layout-footer-fixed-boxed.html"><span class="title">Fixed and Boxed</span></a>
                      </li>
                      <li><a href="layout-footer-sticky.html"><span class="title">Sticky</span></a>
                      </li>
                      <li><a href="layout-footer-sticky-boxed.html"><span class="title">Sticky and Boxed</span></a>
                      </li>
                      <li><a href="layout-footer-slide.html"><span class="title">Slide</span></a>
                      </li>
                      <li><a href="layout-footer-slide-push.html"><span class="title">Slide and Push</span></a>
                      </li>
                      <li><a href="layout-footer-multiple.html"><span class="title">Multiple</span></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#"><i class="icon simpleline simpleline-magic-wand"></i><span class="title">Forms</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                <ul>
                  <li><a href="form-layout.html"><span class="title">Layout</span></a>
                  </li>
                  <li><a href="form-elements.html"><span class="title">Elements</span></a>
                  </li>
                  <li><a href="form-validation.html"><span class="title">Validation</span></a>
                  </li>
                  <li><a href="form-wizard.html"><span class="title">Wizard</span></a>
                  </li>
                  <li><a href="form-upload.html"><span class="title">File upload and WYSIWYG</span></a>
                  </li>
                </ul>
              </li>
              <li {% if active_parent=="tables" %} class="active" {% endif %}><a href="#"><i class="icon fa fa-table"></i><span class="title">Tables</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                <ul>
                  <li {% if active_page=="basic" %} class="active" {% endif %}><a href="table-basic.html"><span class="title">Basic Table</span></a>
                  </li>
                  <li><a href="table-datatable.html"><span class="title">Data Table</span></a>
                  </li>
                  <li><a href="table-footable.html"><span class="title">Foo Table</span></a>
                  </li>
                </ul>
              </li>
              <li><a href="#"><i class="icon simpleline simpleline-bar-chart"></i><span class="title">Charts</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                <ul>
                  <li><a href="chart-flot.html"><span class="title">Flot</span></a>
                  </li>
                  <li><a href="chart-c3.html"><span class="title">C3</span></a>
                  </li>
                  <li><a href="chart-morris.html"><span class="title">Morris</span></a>
                  </li>
                  <li><a href="chart-rickshaw.html"><span class="title">Rickshaw</span></a>
                  </li>
                  <li><a href="chart-other.html"><span class="title">Other</span></a>
                  </li>
                </ul>
              </li>
              <li><a href="#"><i class="icon simpleline simpleline-magic-wand"></i><span class="title">UI Elements</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                <ul>
                  <li><a href="ui-grid.html"><span class="title">Grids</span></a>
                  </li>
                  <li><a href="ui-box.html"><span class="title">Boxes and Panels</span></a>
                  </li>
                  <li><a href="ui-draggable.html"><span class="title">Draggables</span></a>
                  </li>
                  <li>
                    <div class="divider"></div>
                  </li>
                  <li><a href="ui-typography.html"><span class="title">Typography</span></a>
                  </li>
                  <li>
                    <div class="divider"></div>
                  </li>
                  <li><a href="ui-button.html"><span class="title">Buttons</span></a>
                  </li>
                  <li><a href="ui-icons.html"><span class="title">Icons</span></a>
                  </li>
                  <li>
                    <div class="divider"></div>
                  </li>
                  <li><a href="ui-accordion.html"><span class="title">Accordions</span></a>
                  </li>
                  <li><a href="ui-breadcrumb.html"><span class="title">Breadcrumbs</span></a>
                  </li>
                  <li><a href="ui-pagination.html"><span class="title">Pagination</span></a>
                  </li>
                  <li><a href="ui-progressbar.html"><span class="title">Progressbars</span></a>
                  </li>
                  <li><a href="ui-page-progressbar.html"><span class="title">Page Progressbars</span></a>
                  </li>
                  <li><a href="ui-spinner.html"><span class="title">Spinners</span></a>
                  </li>
                  <li><a href="ui-slider.html"><span class="title">Sliders</span></a>
                  </li>
                  <li><a href="ui-tab.html"><span class="title">Tabs</span></a>
                  </li>
                  <li><a href="ui-tag.html"><span class="title">Tags</span></a>
                  </li>
                  <li>
                    <div class="divider"></div>
                  </li>
                  <li><a href="ui-tooltip.html"><span class="title">Tooltips and Popovers</span></a>
                  </li>
                  <li><a href="ui-modal.html"><span class="title">Modals</span></a>
                  </li>
                  <li><a href="ui-notification.html"><span class="title">Notifications</span></a>
                  </li>
                  <li>
                    <div class="divider"></div>
                  </li>
                  <li><a href="ui-date-time.html"><span class="title">Date and Timepicker</span></a>
                  </li>
                </ul>
              </li>
              <li><a href="widget.html"><i class="icon simpleline simpleline-puzzle"></i><span class="title">Widgets</span></a>
              </li>
              <li><a href="#"><i class="icon simpleline simpleline-screen-desktop"></i><span class="title">Pages</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                <ul>
                  <li><a href="#"><span class="title">Register</span></a>
                  </li>
                  <li><a href="#"><span class="title">Login</span></a>
                  </li>
                  <li><a href="#"><span class="title">Forgot Password</span></a>
                  </li>
                  <li><a href="#"><span class="title">Change Password</span></a>
                  </li>
                  <li><a href="#"><span class="title">Lock Screen</span></a>
                  </li>
                  <li><a href="#"><span class="title">Search</span></a>
                  </li>
                  <li><a href="#"><span class="title">Profile</span></a>
                  </li>
                  <li><a href="#"><span class="title">Invoice</span></a>
                  </li>
                  <li><a href="#"><span class="title">Faqs</span></a>
                  </li>
                  <li><a href="#"><span class="title">Blank</span></a>
                  </li>
                  <li><a href="#"><span class="title">Error</span><span class="arrow"><i class="fa fa-angle-left"></i></span></a>
                    <ul>
                      <li><a href="#"><span class="title">403</span></a>
                      </li>
                      <li><a href="#"><span class="title">404</span></a>
                      </li>
                      <li><a href="#"><span class="title">405</span></a>
                      </li>
                      <li><a href="#"><span class="title">500</span></a>
                      </li>
                      <li><a href="#"><span class="title">503</span></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </aside>
