	<!-- Multiple navbars wrapper -->
	<div class="navbar-fixed-top">

		<!-- Main navbar -->
		<div class="navbar navbar-inverse">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html">Cupcake AppKit</a>

				<ul class="nav navbar-nav pull-right visible-xs-block">
					<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
				</ul>
			</div>

			<div class="navbar-collapse collapse" id="navbar-mobile">
				<ul class="nav navbar-nav">
					<li><a href="../index.html"><i class="icon-arrow-left8 position-left"></i> Back to Dashboard</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Text link</a></li>

					<li>
						<a href="#">
							<i class="icon-cog3"></i>
							<span class="visible-xs-inline-block position-right">Icon link</span>
						</a>
					</li>

					<li class="dropdown dropdown-user">
						<a class="dropdown-toggle" data-toggle="dropdown">
							<img src="assets/images/image.png" alt="">
							<span>Victoria</span>
							<i class="caret"></i>
						</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
							<li><a href="#"><i class="icon-coins"></i> My balance</a></li>
							<li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
							<li class="divider"></li>
							<li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
							<li><a href="#"><i class="icon-switch2"></i> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- /main navbar -->


		<!-- Second navbar -->
		<div class="navbar navbar-default navbar-xs">
			<ul class="nav navbar-nav no-border visible-xs-block">
				<li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-circle-down2"></i></a></li>
			</ul>

			<div class="navbar-collapse collapse" id="navbar-second-toggle">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#"><i class="icon-git-branch position-left"></i> Link</a></li>
					<li><a href="#"><i class="icon-git-merge position-left"></i> Another link <span class="badge bg-warning-400 badge-inline position-right">28</span></a></li>
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-git-pull-request position-left"></i> Dropdown <span class="caret"></span></a>

						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">One more separated line</a></li>
						</ul>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="icon-upload10 position-left"></i> Right link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-share4"></i>
							<span class="visible-xs-inline-block position-right">Share</span>
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">One more separated line</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- /second navbar -->

	</div>
	<!-- /multiple navbars wrapper -->
