/*
    Login
    ========================================================================== */

	// General Styles for Login, Forgot Password, Change Password, Register Page
	.login-wrapper{
		margin-top: 10%;
		width: 100%;
		@include group;
	}

    .login-container{
        width: 500px;
        margin: 20px auto;
		@include group;
    }

	.login-logo{
		text-align: center;
		margin: 15px 0 20px;
	}

    .login-form{

		input{
			height: auto;
			padding:18px 15px;
			@include border-radius($s-radius);
		}

		.btn{
			padding: 15px;
		}

		label.error{
			margin: 7px 0 0 0;
		}
    }

	.or {
		text-align: center;
		margin: 10px 0;
		font-family: font-family(light);
	}

	.btn-login{
		@include font-size(18px);
	}

	.login-social{
		@include group;

		i{
			margin-right: 8px;
			vertical-align: middle;
			@include font-size(15px);
		}

		.btn{
			@include font-size(15px);
		}
	}

	.btn-facebook{

	}

	.btn-twitter{

	}

	.login-options{
		margin:15px 0;
		line-height: 1;
		@include group;
	}


	// Register Page specific Styles

	.register-wrapper{
		margin-top: 6%;
	}

	.register-sign-in{
		margin-bottom: 15px;
	}

	// Lock Screen Page specific Styles

	.lock-screen-image{
		text-align: center;
		margin: 10px 0;

		img{
			@include border-radius(50%);
			cursor: pointer;
		}
	}


//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){
    }

    @include breakpoint($screen-sm-maxx){

		.btn-facebook{
			margin-bottom: 15px;
		}
    }

    @include breakpoint($screen-xs-maxx){

		.login-container{
			padding: 0 15px;
			width: 100%;
		}

    }
