/*
    Page Errors
    ========================================================================== */
    .error-main-wrapper{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .error-container{
        width: 100%;
        height: 100%;
        overflow:hidden;
    }



/*
    Error 403
    ------------------------------------- */
    .error-403{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .error-403-content{
        padding:$s-gutter-p;

        h2{
            margin-top: 0;
        }

		.info{
			margin: 25px 0;
		}
		p{
			margin-bottom: 7px;
		}
    }

/*
    Error 404
    ------------------------------------- */
    .error-404{
        position: absolute;
        left: 5%;
        top: 10%;
        padding: 20px;
        width: 90%;
        height: 80%;
    }

    .error-404-content{
		.info{
			margin: 25px 0;
		}
    }

	.error-icon{
		font-size: 40px;
	}


/*
    Error 405
    ------------------------------------- */
    .error-405-container:after{
		background-size: 10px;
    }

    .error-405{
        position: absolute;
        left: 0;
        top: 15%;
        width: 100%;
    }

    .error-405-content{
        padding:$s-gutter-p;

        h1{
            margin-top: 0;
        }

		.info{
			margin: 25px 0;
		}
    }

/*
	Error 500
	------------------------------------- */

	.error-500{

		.list-search{
			padding: 5px 0;

			li:first-child{
				padding-bottom: 5px;
			}
		}
	}

/*
    Error 503
    ------------------------------------- */

    .error-503-content{
        text-align: center;
        width: 40%;
        height: 100%;
        margin: 0 auto;
        padding:$s-gutter-p;

        h1{
            @include font-size(155px);
        }

		li{
			&:after{
				content: '-';
				padding-left: 10px;
			}

			&:last-child:after{
				content: '';
				padding: 0;
			}
		}
    }


//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
