/*
    Date and Time pickers
    ========================================================================== */

/*
    Date Range Picker
    ------------------------------------- */

	.daterangepicker {
		&.dropdown-menu {
			max-width: none;
			z-index: 3000;
		}
		&.opensleft {
			.ranges, .calendar {
				float: left;
				margin: 10px;
			}
		}
		&.opensright {
			.ranges, .calendar {
				float: right;
				margin: 10px;
			}
		}
		.ranges {
			width: 160px;
			text-align: left;
			.range_inputs > div {
				float: left;
				&:nth-child(2) {
					padding-left: 11px;
				}
			}

			.cancelBtn{
				margin-left: 6px;
			}
		}
		.calendar {
			display: none;
			max-width: 270px;
		}
		&.show-calendar .calendar {
			display: block;
		}
		.calendar {
			&.single .calendar-date {
				border: none;
			}
			th, td {
				font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
				white-space: nowrap;
				text-align: center;
				min-width: 32px;
			}
		}
		.daterangepicker_start_input label, .daterangepicker_end_input label {
			display: block;
			font-weight: normal;
			height: 20px;
			line-height: 20px;
			margin-bottom: 2px;
			text-transform: uppercase;
			width: 74px;
			@include font-size(12px);
		}
		.ranges {
			input {
				@include font-size(12px);
			}
			.input-mini {
				display: block;
				height: 30px;
				line-height: 30px;
				vertical-align: middle;
				margin: 0 0 10px 0;
				padding: 0 6px;
				width: 70px;
				@include font-size(12px);
				@include border-radius($s-radius);

				&:hover {
					cursor: pointer;
				}
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}
			li {
				font-size: 13px;
				padding: 3px 12px;
				margin-bottom: 8px;
				cursor: pointer;

				@include border-radius($s-radius);
			}
		}
		.calendar-date {
			padding: 4px;
			@include border-radius($s-radius);
		}
		.calendar-time {
			text-align: center;
			margin: 8px auto 0 auto;
			line-height: 30px;
		}

		position: absolute;
		top: 100px;
		left: 20px;
		padding: 4px;
		margin-top: 1px;
		@include border-radius($s-radius);

		&.opensleft {
			&:before {
				position: absolute;
				top: -7px;
				right: 9px;
				display: inline-block;
				content: '';
			}
			&:after {
				position: absolute;
				top: -6px;
				right: 10px;
				display: inline-block;
				content: '';
			}
		}
		&.opensright {
			&:before {
				position: absolute;
				top: -7px;
				left: 9px;
				display: inline-block;
				content: '';
			}
			&:after {
				position: absolute;
				top: -6px;
				left: 10px;
				display: inline-block;
				content: '';
			}
		}
		table {
			width: 100%;
			margin: 0;
		}
		td, th {
			text-align: center;
			width: 20px;
			height: 20px;
			@include border-radius($s-radius);

			cursor: pointer;
			white-space: nowrap;
		}

		td {
			&.in-range {
				@include border-radius(0);
			}
			&.available + td.start-date {
				@include border-radius($s-radius 0 0 $s-radius );
			}
			&.in-range + td.end-date {
				@include border-radius(0 $s-radius $s-radius 0);
			}
			&.start-date.end-date {
				@include border-radius($s-radius !important);
			}
			&.week {
				font-size: 80%;
			}
		}
		th.week {
			font-size: 80%;
		}
		select {
			&.monthselect, &.yearselect {
				font-size: 12px;
				padding: 1px;
				height: auto;
				margin: 0;
				cursor: default;
			}
			&.monthselect {
				margin-right: 2%;
				width: 56%;
			}
			&.yearselect {
				width: 40%;
			}
			&.hourselect, &.minuteselect, &.ampmselect {
				width: 74px;
				margin-bottom: 0;
				padding: 5px;
			}
		}
	}

	.daterangepicker_start_input {
		float: left;
	}

	.daterangepicker_end_input {
		float: left;
		padding-left: 11px;
	}

	.daterangepicker th.month {
		width: auto;
	}


/*
    Date Time Picker
    ------------------------------------- */
	.hide-text {
		font: 0/0 a;
		color: transparent;
		text-shadow: none;
		background-color: transparent;
		border: 0;
	}

	.input-block-level {
		display: block;
		width: 100%;
		min-height: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.bootstrap-datetimepicker-widget {
		top: 0;
		left: 0;
		width: 250px;
		padding: 4px;
		margin-top: 1px;
		z-index: 3000;
		@include border-radius($s-radius);

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			top: -7px;
			left: 6px;
		}
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: -6px;
			left: 7px;
		}
		&.pull-right {
			&:before {
				left: auto;
				right: 6px;
			}
			&:after {
				left: auto;
				right: 7px;
			}
		}
		> ul {
			list-style-type: none;
			margin: 0;
		}
		.timepicker-hour, .timepicker-minute, .timepicker-second {
			width: 100%;
			font-family: font-family(semibold);
			font-size: 1.2em;
		}
		table[data-hour-format="12"] .separator {
			width: 4px;
			padding: 0;
			margin: 0;
		}
		.datepicker > div {
			display: none;
		}
		.picker-switch {
			text-align: center;
		}
		table {
			width: 100%;
			margin: 0;
		}
		td, th {
			text-align: center;
			width: 20px;
			height: 20px;
			@include border-radius($s-radius);
		}
		td {
			&.day:hover, &.hour:hover, &.minute:hover, &.second:hover {
				cursor: pointer;
			}

			&.disabled {
				cursor: not-allowed;
				&:hover {
					cursor: not-allowed;
				}
			}
			span {
				display: block;
				width: 47px;
				height: 54px;
				line-height: 54px;
				float: left;
				margin: 2px;
				cursor: pointer;
				@include border-radius($s-radius);

				&.disabled {
					cursor: not-allowed;

					&:hover {
						cursor: not-allowed;
					}
				}
			}
		}
		th {
			&.switch {
				width: 145px;
			}
			&.next, &.prev {
				font-size: 21px;
			}
			&.disabled {
				cursor: not-allowed;
				&:hover {
					cursor: not-allowed;
				}
			}
		}
		thead tr:first-child th {
			cursor: pointer;
		}
	}


	.input-append.date .add-on i, .input-prepend.date .add-on i {
		display: block;
		cursor: pointer;
		width: 16px;
		height: 16px;
	}

	.bootstrap-datetimepicker-widget.left-oriented {
		&:before {
			left: auto;
			right: 6px;
		}
		&:after {
			left: auto;
			right: 7px;
		}
	}

/*
    Clockface
    ------------------------------------- */

	.clockface {
		width: 180px;
		text-align: center;

		&.dropdown-menu{
			padding: 10px;
			@include font-size(15px);
		}

		> div {
			clear: both;
			overflow: auto;
		}
		.outer, .inner {
			width: 22px;
			height: 22px;
			line-height: 22px;
			cursor: default;

			@include border-radius($s-radius);
		}

		.outer {
			font-size: 0.8em;
		}

		.l1 .cell, .l5 .cell {
			width: 22px;
			display: inline-block;
			*display: inline;
			/* IE7 inline-block hack */
			*zoom: 1;
		}
		.l1 .outer {
			margin-bottom: 3px;
		}
		.l5 .outer {
			margin-top: 3px;
		}
		.l2 .outer, .l3 .outer, .l4 .outer, .l2 .inner, .l3 .inner, .l4 .inner {
			display: inline-block;
			*display: inline;
			/* IE7 inline-block hack */
			*zoom: 1;
			vertical-align: middle;
		}
		.l2 .left, .l3 .left, .l4 .left {
			float: left;
		}
		.l2 .left .outer, .l3 .left .outer, .l4 .left .outer {
			margin-right: 3px;
		}
		.l2 .right, .l3 .right, .l4 .right {
			float: right;
		}
		.l2 .right .outer, .l3 .right .outer, .l4 .right .outer {
			margin-left: 3px;
		}
		.ampm {
			font-size: 0.8em;
			text-decoration: none;
			border-bottom: dashed 1px;
			&:focus {
				outline: 0;
				outline: thin dotted \9;
				/* IE6-9 */
			}
		}
	}


/*
    Digital Clock
    ------------------------------------- */

	.digital-clock {
		width: 370px;
		padding: 40px;
		margin: 200px auto 60px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			width: 400px;
			height: 20px;
			left: 50%;
			margin-left: -200px;
			bottom: 2px;
			z-index: -1;

			@include border-radius(100%);
		}
		.display {
			text-align: center;
			padding: 40px 20px 20px;
			position: relative;
			height: 54px;
			@include border-radius($s-radius);
		}

		/*----- The Digits -----*/
		.digits {
			div {
				text-align: left;
				position: relative;
				width: 28px;
				height: 50px;
				display: inline-block;
				margin: 0 4px;
				span {
					opacity: 0;
					position: absolute;
					-webkit-transition: 0.25s;
					-moz-transition: 0.25s;
					transition: 0.25s;
					&:before, &:after {
						content: '';
						position: absolute;
						width: 0;
						height: 0;
						border: 5px solid transparent;
					}
				}
			}
			.d1 {
				height: 5px;
				width: 16px;
				top: 0;
				left: 6px;
				&:before {
					border-width: 0 5px 5px 0;
					border-right-color: inherit;
					left: -5px;
				}
				&:after {
					border-width: 0 0 5px 5px;
					border-left-color: inherit;
					right: -5px;
				}
			}
			.d2 {
				height: 5px;
				width: 16px;
				top: 24px;
				left: 6px;
				&:before {
					border-width: 3px 4px 2px;
					border-right-color: inherit;
					left: -8px;
				}
				&:after {
					border-width: 3px 4px 2px;
					border-left-color: inherit;
					right: -8px;
				}
			}
			.d3 {
				height: 5px;
				width: 16px;
				top: 48px;
				left: 6px;
				&:before {
					border-width: 5px 5px 0 0;
					border-right-color: inherit;
					left: -5px;
				}
				&:after {
					border-width: 5px 0 0 5px;
					border-left-color: inherit;
					right: -5px;
				}
			}
			.d4 {
				width: 5px;
				height: 14px;
				top: 7px;
				left: 0;
				&:before {
					border-width: 0 5px 5px 0;
					border-bottom-color: inherit;
					top: -5px;
				}
				&:after {
					border-width: 0 0 5px 5px;
					border-left-color: inherit;
					bottom: -5px;
				}
			}
			.d5 {
				width: 5px;
				height: 14px;
				top: 7px;
				right: 0;
				&:before {
					border-width: 0 0 5px 5px;
					border-bottom-color: inherit;
					top: -5px;
				}
				&:after {
					border-width: 5px 0 0 5px;
					border-top-color: inherit;
					bottom: -5px;
				}
			}
			.d6 {
				width: 5px;
				height: 14px;
				top: 32px;
				left: 0;
				&:before {
					border-width: 0 5px 5px 0;
					border-bottom-color: inherit;
					top: -5px;
				}
				&:after {
					border-width: 0 0 5px 5px;
					border-left-color: inherit;
					bottom: -5px;
				}
			}
			.d7 {
				width: 5px;
				height: 14px;
				top: 32px;
				right: 0;
				&:before {
					border-width: 0 0 5px 5px;
					border-bottom-color: inherit;
					top: -5px;
				}
				&:after {
					border-width: 5px 0 0 5px;
					border-top-color: inherit;
					bottom: -5px;
				}
			}
			div {

				/*----- 1 -----*/
				&.one {
					.d5, .d7 {
						opacity: 1;
					}
				}

				/*----- 2 -----*/
				&.two {
					.d1, .d5, .d2, .d6, .d3 {
						opacity: 1;
					}
				}

				/*----- 3 -----*/
				&.three {
					.d1, .d5, .d2, .d7, .d3 {
						opacity: 1;
					}
				}

				/*----- 4 -----*/
				&.four {
					.d5, .d2, .d4, .d7 {
						opacity: 1;
					}
				}

				/*----- 5 -----*/
				&.five {
					.d1, .d2, .d4, .d3, .d7 {
						opacity: 1;
					}
				}

				/*----- 6 -----*/
				&.six {
					.d1, .d2, .d4, .d3, .d6, .d7 {
						opacity: 1;
					}
				}

				/*----- 7 -----*/
				&.seven {
					.d1, .d5, .d7 {
						opacity: 1;
					}
				}

				/*----- 8 -----*/
				&.eight {
					.d1, .d2, .d3, .d4, .d5, .d6, .d7 {
						opacity: 1;
					}
				}

				/*----- 9 -----*/
				&.nine {
					.d1, .d2, .d3, .d4, .d5, .d7 {
						opacity: 1;
					}
				}

				/*----- 0 -----*/
				&.zero {
					.d1, .d3, .d4, .d5, .d6, .d7 {
						opacity: 1;
					}
				}

				/*----- The dots -----*/
				&.dots {
					width: 5px;
					&:before {
						width: 5px;
						height: 5px;
						content: '';
						position: absolute;
						left: 0;
						top: 14px;
					}
					&:after {
						width: 5px;
						height: 5px;
						content: '';
						position: absolute;
						left: 0;
						top: 14px;
						top: 34px;
					}
				}
			}
		}

		/*----- The alarm -----*/
		.alarm {
			width: 16px;
			height: 16px;
			bottom: 20px;
			background: url('../img/alarm_light.jpg');
			position: absolute;
			opacity: 0.2;
			&.active {
				opacity: 1;
			}
		}

		/*----- Weekdays -----*/
		.weekdays {
			font-size: 12px;
			position: absolute;
			width: 100%;
			top: 10px;
			left: 0;
			text-align: center;
			span {
				opacity: 0.2;
				padding: 0 10px;
				&.active {
					opacity: 1;
				}
			}
		}

		/*----- AM/PM -----*/
		.ampm {
			position: absolute;
			bottom: 20px;
			right: 20px;
			font-size: 12px;
		}
	}

/*
    Date Picker
    ------------------------------------- */

	.datepicker {

		&-inline {
			width: 220px;
		}
		direction: ltr;
		&.datepicker-rtl {
			direction: rtl;
			table tr td span {
				float: right;
			}
		}
		&-dropdown {
			top: 0;
			left: 0;
			padding: 4px;
			&:before {
				content: '';
				display: inline-block;
				border-left:   7px solid transparent;
				border-right:  7px solid transparent;
				border-top:    0;
				position: absolute;
			}
			&:after {
				content: '';
				display: inline-block;
				border-left:   6px solid transparent;
				border-right:  6px solid transparent;
				border-top:    0;
				position: absolute;
			}
			&.datepicker-orient-left:before   { left: 6px; }
			&.datepicker-orient-left:after    { left: 7px; }
			&.datepicker-orient-right:before  { right: 6px; }
			&.datepicker-orient-right:after   { right: 7px; }
			&.datepicker-orient-top:before    { top: -7px; }
			&.datepicker-orient-top:after     { top: -6px; }
			&.datepicker-orient-bottom:before {
				bottom: -7px;
				border-bottom: 0;
			}
			&.datepicker-orient-bottom:after {
				bottom: -6px;
				border-bottom: 0;
			}
		}
		> div {
			display: none;
		}
		&.days .datepicker-days,
		&.months .datepicker-months,
		&.years .datepicker-years {
			display: block;
		}
		table {
			margin: 0;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			tr {
				td, th {
					text-align: center;
					width: 30px;
					height: 30px;
					border: none;
					@include border-radius(2px);
				}
			}
		}
		// Inline display inside a table presents some problems with
		// border and background colors.
		.table-striped & table tr {
			td, th {
				background-color: transparent;
			}
		}
		table tr td {
			&.day:hover,
			&.day.focused {
				cursor: pointer;
			}
			&.old,
			&.new {
			}
			&.disabled,
			&.disabled:hover {
				cursor: default;
			}
			&.highlighted {
				@include border-radius(0);
			}
			&.today,
			&.today:hover,
			&.today.disabled,
			&.today.disabled:hover {

			}
			&.today:hover:hover {

			}
			&.today.active:hover {

			}
			&.range,
			&.range:hover,
			&.range.disabled,
			&.range.disabled:hover {
				@include border-radius(0);
			}
			&.range.today,
			&.range.today:hover,
			&.range.today.disabled,
			&.range.today.disabled:hover {
				@include border-radius(0);
			}
			&.selected,
			&.selected:hover,
			&.selected.disabled,
			&.selected.disabled:hover {
			}
			&.active,
			&.active:hover,
			&.active.disabled,
			&.active.disabled:hover {

			}
			span {
				display: block;
				width: 23%;
				height: 50px;
				line-height: 50px;
				float: left;
				margin: 1%;
				cursor: pointer;
				@include border-radius(2px);
				&:hover {

				}
				&.disabled,
				&.disabled:hover {
					cursor: default;
				}
				&.active,
				&.active:hover,
				&.active.disabled,
				&.active.disabled:hover {

				}
				&.old,
				&.new {

				}
			}
		}

		.datepicker-switch {
			width: 145px;
		}

		thead tr:first-child th,
		tfoot tr th {
			cursor: pointer;
			&:hover {

			}
		}

		// Basic styling for calendar-week cells
		.cw {
			font-size: 10px;
			width: 12px;
			padding: 0 2px 0 5px;
			vertical-align: middle;
		}
		thead tr:first-child .cw {
			cursor: default;
			background-color: transparent;
		}
	}
	.input-group.date .input-group-addon {
		cursor: pointer;
	}
	.input-daterange {
		width: 100%;
		input {
			text-align: center;
		}
		input:first-child {
			@include border-radius(3px 0 0 3px);

		}
		input:last-child {
			@include border-radius(0 3px 3px 0);
		}
		.input-group-addon {
			width: auto;
			min-width: 16px;
			padding: 4px 5px;
			font-weight: normal;
			line-height: 1.428571429;
			text-align: center;
			vertical-align: middle;
			border-width: 1px 0;
			margin-left: -5px;
			margin-right: -5px;
		}
	}

/*
	jClock
	------------------------------------- */
	.custom-clock{
		@include font-size(18px);

		.clockdate{
			@include font-size(20px);
			font-family: font-family(light);
			padding-right: 10px;
		}

		.clocktime{
			font-family: font-family(semibold);
		}
	}


//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
