/*
    Pricing Tables
    ========================================================================== */

/*
    Pricing Table - Version 1
    ------------------------------------- */

    .plans{

        padding: $s-gutter-p $s-gutter-p 0;
        @include clearfix();

        .plan > ul > li{
            padding:10px 20px;
        }



        h2{
            margin: 0;
        }

        &.centered, .centered{
            text-align: center;
        }

        p{
            margin: 0;
        }

        .options{

            li{
                padding: 5px 0;
			}

			span{
				padding-right: 5px;
			}
        }

        .price{
			line-height: 1;
            @include font-size(22px);

            span{
                @include font-size(12px);
            }
        }

        &.plans-animated .plan:hover,
        .plan-animated:hover{
          @include transform(scale(1.04));
        }

    }

	/* Plan 1 */
	.plans-1{

		.plan{

		}

		.title{
			h2{
				font-family: font-family(light);
			}
		}

		.price{
			font-family: font-family(semibold);
		}

		.options{
			@include font-size(15px);

			span{
				font-family: font-family(bold);
			}
		}

		.btn-cont{
			text-transform: uppercase;
			font-family: font-family(bold);
			@include font-size(15px);
		}

		.btn{
			padding: 10px 12px;
		}
	}

	/* Plan 2 */
	.plans-2{

		.options li{
			padding: 10px 0;
		}

		.plan{

		}

		.plan-bordered{

		}

		.options{
			span{
				font-family: font-family(semibold);
			}
		}

		.title {
			padding: 20px 20px 0 !important;

			h2{
				@include font-size(13px);
			}
			text-transform: uppercase;
		}

		.price{
			padding-top: 5px !important;

			.nr{
				@include font-size(26px);
				font-family: font-family(bold);
			}
		}

		.btn{
			text-transform: uppercase;
			padding: 10px 30px;
		}

	}

	/* Plan 3 */
	.plans-3{

		.plan{
			position: relative;
			z-index: 10;
		}

		.title {
			text-transform: uppercase;
			padding: 20px !important;

			h2{
				font-family: font-family(light);
				line-height: 1;
			}
		}

		.price{
			font-family: font-family(light);
			padding: 20px !important;
			@include font-size(45px);

			.cur{
				margin:0 5px 0 0;
				@include font-size(20px);
			}

			span{
				margin-left: 5px;
				font-family: font-family(semibold);
				@include font-size(14px);
			}
		}

		.btn-cont{
			padding: 20px !important;
		}

		.btn{
			text-transform: uppercase;
			padding: 10px 50px;
		}

		.best{
			padding-bottom: 40px;
			margin: -20px -3px 0;
			z-index: 15;

			.price {
				padding: 40px 0 20px !important;
			}
		}


	}


//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
