/*
    Sliders
    ========================================================================== */

/*
    jQuery UI Slider
    ------------------------------------- */

	.ui-slider-vertical{
		width: 5px;
	}

	.ui-slider-horizontal{
		height: 5px;
	}

	.ui-slider-handle{

	}

	.ui-slider .ui-slider-handle{
		height: 16px;
		width: 16px;
		cursor: pointer;
		@include border-radius(50%);
		@include transition(border $transition-value);

		&:before{
			content: '';
			display: block;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			position: relative;
			top: 3px;
			left: 3px;
		}
	}

	.ui-amount{
		padding-left: 5px;
	}

/*
    jQuery UI Slider Pips
    ------------------------------------- */
    /* HORIZONTAL */

    .ui-slider-horizontal.ui-slider-pips {
      margin-bottom: 1.4em;
    }

    .ui-slider-pips {
      .ui-slider-label, .ui-slider-pip-hide {
        display: none;
      }
      .ui-slider-pip-label .ui-slider-label {
        display: block;
      }
      .ui-slider-pip {
        width: 2em;
        height: 1em;
        line-height: 1em;
        position: absolute;
        overflow: visible;
        text-align: center;
        top: 20px;
        left: 20px;
        margin-left: -1em;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @include font-size(12px);
      }
      .ui-slider-line {
        width: 1px;
        height: 3px;
        position: absolute;
        left: 50%;
      }
      .ui-slider-label {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -1em;
        width: 2em;
      }
    }

    .ui-slider-pip:hover .ui-slider-label {
      font-weight: normal;
    }

    /* VERTICAL */
   .ui-slider-vertical.ui-slider-pips {
      margin-bottom: 1em;
      margin-right: 2em;
      .ui-slider-pip {
        text-align: left;
        top: auto;
        left: 20px;
        margin-left: 0;
        margin-bottom: -0.5em;
      }
      .ui-slider-line {
        width: 3px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
      }
      .ui-slider-label {
        top: 50%;
        left: 0.5em;
        margin-left: 0;
        margin-top: -0.5em;
        width: 2em;
      }
    }

    .ui-slider-float {
      .ui-slider-handle:focus {
        outline: none;
        .ui-slider-tip, .ui-slider-tip-label {
          outline: none;
        }
      }
      .ui-slider-tip, .ui-slider-tip-label {
        position: absolute;
        visibility: hidden;
        top: -40px;
        display: block;
        width: 34px;
        margin-left: -18px;
        left: 50%;
        height: 20px;
        line-height: 20px;
        text-align: center;
        opacity: 0;
        -webkit-transition-duration: 200ms, 200ms, 0;
        -moz-transition-duration: 200ms, 200ms, 0;
        -ms-transition-duration: 200ms, 200ms, 0;
        transition-duration: 200ms, 200ms, 0;
        -webkit-transition-property: opacity, top, visibility;
        -moz-transition-property: opacity, top, visibility;
        -ms-transition-property: opacity, top, visibility;
        transition-property: opacity, top, visibility;
        -webkit-transition-delay: 0, 0, 200ms;
        -moz-transition-delay: 0, 0, 200ms;
        -ms-transition-delay: 0, 0, 200ms;
        transition-delay: 0, 0, 200ms;

        @include font-size(12px);
        @include border-radius(3px);
      }
      .ui-slider-handle {
        &:hover .ui-slider-tip, &:focus .ui-slider-tip {
          opacity: 1;
          top: -30px;
          visibility: visible;
          -webkit-transition-delay: 200ms, 200ms, 0;
          -moz-transition-delay: 200ms, 200ms, 0;
          -ms-transition-delay: 200ms, 200ms, 0;
          transition-delay: 200ms, 200ms, 0;
        }
      }
      .ui-slider-pip {
        &:hover .ui-slider-tip-label {
          opacity: 1;
          top: -30px;
          visibility: visible;
          -webkit-transition-delay: 200ms, 200ms, 0;
          -moz-transition-delay: 200ms, 200ms, 0;
          -ms-transition-delay: 200ms, 200ms, 0;
          transition-delay: 200ms, 200ms, 0;
        }
        .ui-slider-tip-label {
          top: 42px;
        }
        &:hover .ui-slider-tip-label {
          top: 32px;
          font-weight: normal;
        }
      }
      .ui-slider-tip:after, .ui-slider-pip .ui-slider-tip-label:after {
        content: " ";
        width: 0;
        height: 0;
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -5px;
      }
      .ui-slider-tip:before {
        content: " ";
        width: 0;
        height: 0;
        position: absolute;
        bottom: -11px;
        left: 50%;
        margin-left: -5px;
      }
      .ui-slider-pip .ui-slider-tip-label {
        &:before {
          content: " ";
          width: 0;
          height: 0;
          position: absolute;
          bottom: -11px;
          left: 50%;
          margin-left: -5px;
        }
        &:after {
          top: -10px;
        }
        &:before {
          top: -11px;
        }
      }
    }

    .ui-slider-vertical.ui-slider-float {
      .ui-slider-tip, .ui-slider-tip-label {
        top: 50%;
        margin-top: -11px;
        width: 34px;
        margin-left: 0px;
        left: -60px;
        -webkit-transition-duration: 200ms, 200ms, 0;
        -moz-transition-duration: 200ms, 200ms, 0;
        -ms-transition-duration: 200ms, 200ms, 0;
        transition-duration: 200ms, 200ms, 0;
        -webkit-transition-property: opacity, left, visibility;
        -moz-transition-property: opacity, left, visibility;
        -ms-transition-property: opacity, left, visibility;
        transition-property: opacity, left, visibility;
        -webkit-transition-delay: 0, 0, 200ms;
        -moz-transition-delay: 0, 0, 200ms;
        -ms-transition-delay: 0, 0, 200ms;
        transition-delay: 0, 0, 200ms;
      }
      .ui-slider-handle {
        &:hover .ui-slider-tip, &:focus .ui-slider-tip {
          top: 50%;
          margin-top: -11px;
          left: -50px;
        }
      }
      .ui-slider-pip {
        &:hover .ui-slider-tip-label {
          top: 50%;
          margin-top: -11px;
          left: -50px;
        }
        .ui-slider-tip-label {
          left: 47px;
        }
        &:hover .ui-slider-tip-label {
          left: 37px;
        }
      }
      .ui-slider-tip:after, .ui-slider-pip .ui-slider-tip-label:after {
        position: absolute;
        bottom: 50%;
        margin-bottom: -5px;
        right: -10px;
        margin-left: 0;
        top: auto;
        left: auto;
      }
      .ui-slider-tip:before {
        position: absolute;
        bottom: 50%;
        margin-bottom: -5px;
        right: -11px;
        margin-left: 0;
        top: auto;
        left: auto;
      }
      .ui-slider-pip .ui-slider-tip-label {
        &:before {
          position: absolute;
          bottom: 50%;
          margin-bottom: -5px;
          right: -11px;
          margin-left: 0;
          top: auto;
          left: auto;
        }
        &:after {
          right: auto;
          left: -10px;
        }
        &:before {
          right: auto;
          left: -11px;
        }
      }
    }

    .ui-slider-pips {
      .ui-slider-pip-selected-initial, .ui-slider-pip-selected-initial-first, .ui-slider-pip-selected-initial-second {

      }
      .ui-slider-pip-selected, .ui-slider-pip-selected-first, .ui-slider-pip-selected-second {

      }
    }


//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
