/*
    Typography
    ========================================================================== */

    .sep-bottom{
       	padding-bottom: 10px;
		margin: 25px 0 12px;
		font-family: font-family(light);
       	@include font-size(20px);

        span{
            @include font-size(15px);
        }

		&.first{
			margin-top: 0;
		}
    }

    .lead{
        @include font-size(22px);
    }

    .list-unstyled{

    }

    .list-styled{
        list-style-type: disc;
        padding-left: 40px;

        ul{
            list-style-type: circle;
            padding-left: 40px;
        }
    }

    .label-container{
        @include font-size(15px);

        .label{
            margin-right: 5px;
            font-weight: normal;
        }
    }

	.badge-container{
		@include font-size(15px);

		.badge{
			margin-right: 5px;
			font-weight: normal;
		}
	}



//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
