/*
    Grid system
    ========================================================================== */

	.show-grid [class^=col-],
	.show-grid [class^=l-col-],
	.show-grid [class^=l-span-] {
		background-color: $grid-bg;
		border: 1px solid $grid-bd;
	}

	.t-col-2-example{
		& [class^=col-],
		& [class^=l-col-],
		& [class^=l-span-] {
			background-color: lighten($grid-2-bg,45%);
			border: 1px solid lighten($grid-2-bd,32%);
		}
	}

	.t-col-3-example{
		& [class^=col-],
		& [class^=l-col-],
		& [class^=l-span-] {
			background-color: lighten($grid-3-bg,32%);
			border: 1px solid lighten($grid-3-bd,25%);
		}
	}

	.t-col-4-example{
		& [class^=col-],
		& [class^=l-col-],
		& [class^=l-span-] {
			background-color: lighten($grid-4-bg,35%);
			border: 1px solid lighten($grid-4-bd,23%);
		}
	}

//  Media Queries
//  ==========================================================================

    @include breakpoint($screen-sm-min){

    }

    @include breakpoint($screen-md-min){

    }

    @include breakpoint($screen-lg-min){

    }

    @include breakpoint($screen-xl-min){

    }
