/*
    Widget - Latest Orders
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-latest-orders{
		background: $latest-order-bg;
		border: 1px solid $latest-order-bd;


		th{
			color: $latest-order-th-c;
		}

		td.tb-col-1{
			color: $latest-order-col-1-c;
		}

		.tb-col-2{

		}

		td.tb-col-3{
			color: $latest-order-col-3-c;
		}

		td.tb-col-4{
			color: $latest-order-col-4-c;
		}

		td.tb-col-5{
			color: $latest-order-col-5-c;
		}

		.table-order-body{
			background: $latest-order-body-bg;
			border-bottom: 2px solid $latest-order-body-bd;
		}

		.table-hover > tbody > tr:hover{
			background: lighten($latest-order-table-bg-ho, 34%);
		}

	}

//  State
//  -------------------------------------
	.is-latest-orders{

	}

	.is-latest-orders{

	}


/*
    Latest Orders in Header
    ------------------------------------- */
	.latest-orders-in-header{

	}

/*
    Latest Orders in Sidebar
    ------------------------------------- */
	.latest-orders-in-side{

	}

/*
    Latest Orders in Box
    ------------------------------------- */
	.latest-orders-in-box{

	}

//  Theme
//  -------------------------------------
	.t-latest-orders-1{

	}

	.t-latest-orders-2{

	}

	.t-latest-orders-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
