/*
    Widget - Logo
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-logo{

		span.logo-default,
		span.logo-default-header,
		span.logo-medium{

			&:after{
				background: $logo-bg;
			}

		}

		&:hover{
			span{
				&:after{
					background: $logo-bg-ho;
				}
			}

			span.logo-default-header{
				&:after{
					background: $logo-bg-header-ho;
				}
			}
		}



	}


//  State
//  -------------------------------------
	.is-logo{

	}

	.is-logo{

	}


/*
    Logo in Header
    ------------------------------------- */
	.logo-in-header{

	}

/*
    Logo in Sidebar
    ------------------------------------- */
	.logo-in-side{

	}

/*
    Logo in Box
    ------------------------------------- */
	.logo-in-box{

	}

//  Theme
//  -------------------------------------
	.t-logo-1{

	}

	.t-logo-2{

	}

	.t-logo-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
