/*
    Widget - Info
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-info{
		background: $info-bg;
	}


//  State
//  -------------------------------------
	.is-info{

	}

	.is-info{

	}


/*
    Info in Header
    ------------------------------------- */
	.info-in-header{

	}

/*
    Info in Sidebar
    ------------------------------------- */
	.info-in-side{

	}

/*
    Info in Box
    ------------------------------------- */
	.info-in-box{

	}

//  Theme
//  -------------------------------------
	.info-t-1-spark-1-c { color: $info-t-1-spark-1-c; }
	.t-info-1{
		color: $info-t-1-c;
		background: $info-t-1-mu;

		hr{
			border-color: darken($info-t-1-mu, 15%);
		}

		.progress-bar{
			background-color: darken($info-t-1-mu, 20%);
		}

		a{
			color: $info-t-1-c;

			&:hover{
				color: $info-t-1-ho;
			}
		}

	}


	.info-t-2-spark-1-c { color: $info-t-2-spark-1-c; }
	.info-t-2-spark-2-c { color: $info-t-2-spark-2-c; }
	.info-t-2-spark-3-c { color: $info-t-2-spark-3-c; }
	.t-info-2{
		color: $info-t-2-c;
		background: $info-t-2-mu;

		hr{
			border-color: darken($info-t-2-mu, 5%);
		}

		.progress-bar{
			background-color: darken($info-t-2-mu, 20%);
		}

		a{
			color: $info-t-2-c;

			&:hover{
				color: $info-t-2-ho;
			}
		}

	}

	.info-t-3-spark-1-c { color: $info-t-3-spark-1-c; }
	.t-info-3{
		color: $info-t-3-c;
		background: $info-t-3-mu;

		hr{
			border-color: darken($info-t-3-mu, 10%);
		}

		.progress-bar{
			background-color: darken($info-t-3-mu, 20%);
		}

		a{
			color: $info-t-3-c;

			&:hover{
				color: $info-t-3-ho;
			}
		}

	}

	.info-t-4-spark-1-c { color: $info-t-4-spark-1-c; }
	.t-info-4{
		color: $info-t-4-c;
		background: $info-t-4-mu;

		hr{
			border-color: darken($info-t-4-mu, 8%);
		}

		.progress-bar{
			background-color: darken($info-t-4-mu, 20%);
		}

		a{
			color: $info-t-4-c;

			&:hover{
				color: $info-t-4-ho;
			}
		}

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
