/*
    Widget - Weather Forecast
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-weather-forecast{
		color: $weather-forecast-c;
	}

	.weather-day-col{
		color: $weather-forecast-day-c;
		border-right: 1px solid $weather-forecast-sep-bd;

		&:hover{
			color: $weather-forecast-day-ho;
			background: $weather-forecast-day-bg-ho;

			i{
				color: $weather-forecast-day-ho;
			}
		}
	}
	
	.weather-date{
		color: $weather-forecast-date-c;
	}

	.weather-icon{
		i{
			color: $weather-forecast-icon-c;
		}
	}

	.weather-description{
		color: $weather-forecast-description-c;
	}

	.weather-forecast-settings{

		.cb-radio-primary-1 .cb-inner{
			background: $weather-forecast-check-bg;
			border: 1px solid $weather-forecast-check-bd;
		}

		input.form-control{
			color: $weather-forecast-form-control-c;
			background: $weather-forecast-form-control-bg;
			border-color: $weather-forecast-input-addon-bg;
		}

		.input-group-addon, .btn-dark{
			color: $weather-forecast-input-addon-c;
			background-color: $weather-forecast-input-addon-bg;
			border: 1px solid $weather-forecast-input-addon-bd;
		}

		.forecast-geo-location{
			color: $forecast-geo-location-c;

			&:hover{
				color: $forecast-geo-location-ho;
			}
		}
	}


//  State
//  -------------------------------------
	.is-weather-forecast{

	}

	.is-weather-forecast{

	}


/*
    Weather Forecast in Header
    ------------------------------------- */
	.weather-forecast-in-header{

	}


/*
    Weather Forecast in Box
    ------------------------------------- */
	.weather-forecast-in-box{

	}


/*
    Weather Forecast in Sidebar
    ------------------------------------- */
	.weather-forecast-in-side{

	}

//  Compact State
//  -------------------------------------

	.l-sidebar-compact-left,
	.l-sidebar-compact-right{

	}

//  Collapsed State
//  -------------------------------------

	.l-sidebar-collapsed-left,
	.l-sidebar-collapsed-right{

	}


//  Theme
//  -------------------------------------
	.t-weather-forecast-1{

	}

	.t-weather-forecast-2{

	}

	.t-weather-forecast-3{

	}





//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
