/*
	Navigation
	========================================================================== */

	.cupcake-nav{
		font-family: font-family(regular);
		background: $nav-bg;

		ul{
			background: $nav-bg;
		}

		&>li>a{
			&:hover{
				background: $nav-bg-ho;
			}
		}


		a{
			color: $nav-c;

			&:hover{
				color: $nav-ho;
			}
		}

		.info, .new, .soon {
			padding: 4px 7px;
			@include border-radius(10px);
		}

		.info{
			background: $nav-info-bg;
			color: $nav-info-c;
		}

		.new{
			background: $nav-new-bg;
			color: $nav-new-c;
		}

		.soon{
			background: $nav-soon-bg;
			color: $nav-soon-c;
		}

		.open{
			> a{
				color: $nav-open-c;
			}
		}

		.active>a{
			color: $nav-active-c;
			&:hover{

			}
		}

		.open{
			> a, > ul{
				background: $nav-open-bg;
			}
		}

		.level-1{
			a { padding-left: 44px; }
			.divider{ border-top: 1px solid $nav-lvl1-open-bg; }
			.open{

				> a, > ul {
					background: $nav-lvl1-open-bg;
				}
			}
		}

		.level-2{
			a { padding-left: 64px; }
			.divider{ border-top: 1px solid $nav-lvl2-open-bg; }
			.open{
				> a, > ul {
					background: $nav-lvl2-open-bg;
				}
			}
		}


		.level-3{
			a { padding-left: 84px; }
			.divider{ border-top: 1px solid $nav-lvl3-open-bg; }
			.open{
				> a, > ul {
					background: $nav-lvl3-open-bg;
				}
			}
		}

		.level-4 {
			a { padding-left: 104px; }
		}

		// Other menu elements

	}

//  Default State
//  ==========================================================================
	.l-sidebar-left,
	.l-sidebar-right {

	}

	.l-sidebar-left{

		.cupcake-nav {
			a{
				border-left: 2px solid transparent;
				&:hover{
					border-left-color: $nav-open-c;
					background-color: rgba($nav-open-c, 0.02);
				}
			}
			.open{ > a{
				border-left-color: $nav-open-c;
				background-color: rgba($nav-open-c, 0.02);
			} }
			.active>a{
				border-left-color: $nav-active-c;
				background-color: rgba($nav-active-c, 0.02);
			}
		}
	}

	.l-sidebar-right{

		.cupcake-nav {
			a{
				border-right: 2px solid transparent;
				&:hover{ border-right-color: $nav-open-c; }
			}
			.open{ > a{ border-right-color: $nav-open-c; } }
			.active>a{ border-right-color: $nav-active-c; }
		}
	}

//  Compact State
//  ==========================================================================

/*
	Compact Nav State
	------------------------------------- */
	.l-sidebar-compact-left,
	.l-sidebar-compact-right {

		.cupcake-nav {

			.level-1{ a { padding-left: 20px; }	}
			.level-2{ a { padding-left: 40px; }	}
			.level-3{ a { padding-left: 60px; }	}
			.level-4{ a { padding-left: 80px; }	}
		}
	}

//  Collapsed State
//  ==========================================================================

/*
	Collapsed Nav State
	------------------------------------- */
	.l-sidebar-collapsed-left,
	.l-sidebar-collapsed-right{

		.cupcake-nav{

			.level-1{
				a { padding-left: 20px; }
				border-top: 1px solid $nav-lvl1-collapsed-bd;
			}

			.level-2{ a { padding-left: 35px; }	}
			.level-3{ a { padding-left: 50px; }	}
			.level-4{ a { padding-left: 65px; }	}

			.root{
				background: $nav-root-bg;
			}
		}
	}



//  Media Queries
//  ==========================================================================

	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}

