/*
    Widget - Message
    ========================================================================== */


/*
	Message
	------------------------------------- */

	.widget-message{

		.label{
			@include transition($transition-value);
		}

		.dropdown-menu{
			min-width:350px;
			padding: 0;
		}

		.msg-image{
			text-align: center;
			padding: 0 10px;
			img{
				@include border-radius(50%);
			}
		}

		.msg-info{
			h4{
				margin-top: 0;
			}
		}


		.msg-status{
			text-align: center;

			.label, .badge{
				padding: .3em .6em .2em;
				font-weight: normal;
			}
		}

		.msg-content{
			max-height:320px;
		}

		a{
			display: block;
			padding: 14px 0;
		}

		p{
			margin-bottom: 5px;
		}

		.dropdown-menu-header{
			margin-bottom: 0;
		}

	}

	.message-in-header{

	}

	.message-in-side{
		padding:10px;

		.msg-content{
			max-height:350px;
			overflow: hidden;
			position: relative;
		}

		.dropdown-menu-header{
			padding: 10px 0 13px !important;
		}

		.dropdown-menu-footer a {
			padding: 12px 0px !important;
		}
	}

	.message-in-box{
		.dropdown-menu-header{
			padding: 10px 0 13px !important;
		}

		.dropdown-menu-footer a {
			padding: 12px 0px !important;
		}
	}





//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){
		.message-in-header {

			.dropdown-menu {
				min-width: 100%;
			}
		}
	}
