/*
    Widget - Miscellaneous
    ========================================================================== */

/*
    Common
    =============================================== */

	.widget{ margin-bottom: $s-gutter-p; }

	/* Widget options container */
	.widget-opt { padding: 0px 10px; line-height: $box-min-line-height; }

/*
    Switcher
    ------------------------------------- */
	.switcher{
		display: block;
		padding: 18px 17px 17px;
		line-height: 1;
	}

	.t-switcher-side,
	.t-switcher-side-2{
		text-align: center;
	}

/*
    Header
    ------------------------------------- */
	.widget-header{
		font-family: font-family(light);
		@include font-size(20px);
		padding: 10px 30px;
		margin:0 0 20px;
	}

/*
    Loader
    ------------------------------------- */
	.widget-loader{
		margin: 18px 10px;
		max-width: 15%;
		min-width: 75px;
	}

/*
    Progressbar
    ------------------------------------- */
	.widget-progress{
		margin: 8% 0;
		max-width: 15%;
		min-width: 125px;
	}

/*
    Label
    ------------------------------------- */
	.widget-label-badge{

		.label, .badge{
			font-weight: normal;
		}
	}

/*
    Basic Search
    ------------------------------------- */
	.widget-basic-search{
		max-width: 200px;
		input{
			height: 24px;
			margin-top: 6px;
		}
	}


/*
	Slider
	------------------------------------- */
	.widget-slider{
		max-width: 20%;
		min-width: 125px;
		padding: 15px 10px;

	}

/*
	Graph
	------------------------------------- */
	.widget-graph{
		max-width: 20%;
		canvas{
			margin: 6px 0;
		}
	}


/*
	Tabs
	------------------------------------- */
	.widget-basic-tabs{
		.nav-tabs{
			border-bottom: none;

			a{
				border-top: none !important;
			}
		}
	}

/*
	Pagination
	------------------------------------- */
	.widget-pagination{
		line-height: 1;
		padding: 4px 10px 0;

		.pagination{
			margin: 0;
		}
	}

/*
	Centerred Text
	------------------------------------- */
	.widget-header-centered{
		left: 0;
		max-width: 100%;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;
	}


/*
    Fullscreen
    ------------------------------------- */
	.fullscreen{
		position: fixed;
		margin: 0;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		background-color: #FFF;
		border-width: 3px;
		z-index: 1040!important;
		overflow: auto;
	}

	.fullscreen-open{
		overflow: hidden;
	}

/*
    Toggle
    ------------------------------------- */
	.toggle-closed{
		display: none;
	}

/*
    Block Widgets
    =============================================== */

/*
	Status
	------------------------------------- */
	.widget-status{

		.dropdown-toggle{
			display: block;
			padding: 7px 28px 7px 17px;
			border: 1px solid transparent;

			i{
				margin-right: 5px;
			}
		}

		.dropdown-menu{
			margin-top: 0;
			min-width: 105px;
			border-top: none;
			i{
				margin-right: 5px;
			}
		}
	}

/*
	Chat Setting
	------------------------------------- */
	.widget-chat-setting{
		.dropdown-toggle{
			display: block;
			padding: 7px 15px;
			border: 1px solid transparent;
		}

		.dropdown-menu{

			a{
				line-height: 1;
				padding: 4px 10px;
			}

			label{
				font-family: font-family(base);
			}
			
			margin-top: -1px;
			min-width: 150px;
		}
	}


//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
