/*
    Widget - Profile
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-profile{
		position: relative;
		display: inline-block;
		vertical-align: middle;

		.name{
			display: inline-block;
			padding-right: 10px;
			vertical-align: middle;
			@include font-size(15px);
			@include truncate-string;
		}

		img{
			max-width: 38px;
			@include border-radius(50%);
		}

		.dropdown-toggle{
			padding: 6px 10px;
			@include border-radius(0);
			@include box-shadow(none)
		}

		.dropdown-menu{
			margin: 0;

			i{
				margin-right: 15px;
				width: 13px;
				text-align: center;
			}

			> li > a {
				padding: 10px 15px;
			}
		}
	}

/*
    Profile in Header
    ------------------------------------- */

	.profile-in-header{

		.name{
			width: 130px;
		}

		.dropdown-toggle{
			border-style: none solid;
		}

		.dropdown-menu{
			width: 190px;
		}

		&.open{

			.name{

			}
		}

	}


/*
    Profile in Sidebar
    ------------------------------------- */
	.profile-in-side{
		width: 100%;

		.name{
			max-width: 85%;
		}

		.dropdown-toggle{
			border-style: solid none;
			width: 100%;
		}

		.dropdown-menu{
			width: 100%;
			border: none;
		}
	}




//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){
		.profile-in-header{

			width: 100%;

			.name{
				max-width: 85%;
			}

			.dropdown-toggle{
				border-style: solid none;
				width: 100%;

				&:focus{
					@include box-shadow(none);
				}
			}

			.dropdown-menu{
				width: 100%;
				border: none;

				> li > a {
					padding: 10px 15px !important;
				}
			}
		}
	}
