/*
    Widget - Tabs
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-tabs{

		.nav{
			i{
				margin-right: 10px;
			}

			> li{
				margin-bottom: 0;

				> a {
					line-height: 1;
					padding: 18px 30px 17px;
					@include border-radius(0);
				}

			}

			.last{
				float: right;
				i{
					margin: 0;
				}
			}
		}
	}


//  State
//  -------------------------------------
	.is-tabs{

	}

	.is-tabs{

	}


/*
    Tabs in Header
    ------------------------------------- */
	.tabs-in-header{

	}

/*
    Tabs in Sidebar
    ------------------------------------- */
	.tabs-in-side{

	}

/*
    Tabs in Box
    ------------------------------------- */
	.tabs-in-box{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){
		.widget-tabs{
			.nav{

				> li{

					> a {
						padding: 18px 25px 17px;
					}

				}

				.last{
					a{
						padding: 18px 20px 17px;
					}
				}
			}
		}
	}

	@include breakpoint($screen-sm-maxx){
		.widget-tabs{
			.nav{
				> li{
					> a {
						padding: 18px 15px 17px;
					}
				}
			}
		}
	}

	@include breakpoint($screen-xs-maxx){

	}
