/*
    Widget - Task
    ========================================================================== */


/*
	Task
	------------------------------------- */

	.widget-task{
		.label{
			@include transition($transition-value);
		}
	}

	.task-in-header{

		.dropdown-menu{
			min-width:300px;

			li{
				padding: 0 15px;
			}
		}

	}

	.task-in-side{
		padding:10px;

		.dropdown-menu-header{
			padding: 10px 0 13px !important;
		}
	}

	.task-in-box{
		.dropdown-menu-header{
			padding: 10px 0 13px !important;
		}
	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){
		.task-in-header {

			.dropdown-menu {
				min-width: 100%;
			}
		}
	}
