/*
    Widget - Group
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-group{
		padding: 15px 15px 15px 30px;
	}

	.widget-group-header{
		@include group;

		h4{
			margin: 6px 0;
		}

		a{
			padding: 6px 15px;
		}
	}

	.widget-group-new{

	}

	.widget-group-body{

		margin-top: 10px;

		li{
			padding-bottom: 5px;

			i{
				@include font-size(10px);
				margin-right: 5px;
			}
		}
	}


//  State
//  -------------------------------------
	.is-group{

	}

	.is-group{

	}


/*
    Group in Header
    ------------------------------------- */
	.group-in-header{

	}

/*
    Group in Sidebar
    ------------------------------------- */
	.group-in-side{

	}

/*
    Group in Box
    ------------------------------------- */
	.group-in-box{

	}

//  Theme
//  -------------------------------------
	.t-group-1{

	}

	.t-group-2{

	}

	.t-group-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
