/*
    Widget - Theme Settings
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-theme-settings{
		position: fixed;
		width: 220px;
		right: -221px;
		z-index: 1000;

		&.open{
			right: -1px;
		}

		.input-group-btn:first-child{
			> .btn,
		 	> .btn-group {
				margin-right: -2px;
			}
		}
	}

	.theme-settings-toggle{
		left: -44px;
		padding: 10px 15px;
		position: absolute;
		top: -1px;
	}

	.theme-settings-wrapper{
		float: left;
		width: 100%;

		h3{
			font-family: font-family(semibold);
			text-align: center;
			margin: 0;
			padding: 10px 0 9px;
			cursor: pointer;
			@include font-size(20px);
		}
	}

	.theme-settings-row{
		margin: 10px 15px;
	}

	.theme-settings-input{
		text-align: right;
	}

	.theme-settings-info{
		display: inline-block;
		line-height: 1;
		padding: 5px 10px;
		text-align: center;
		@include border-radius(50%);
	}

	.theme-skin-title{
		padding-bottom: 3px;

		.clear-cache{
			display: none;
			float: right;
			text-align: center;
			height: 20px;
			width: 24px;
		}
	}

	.theme-skin-wrapper{
		margin-bottom: 10px;
		cursor: pointer;
		display: block;
		@include transition($transition-value);

		.theme-skin{
			min-height: 20px;
			text-align: center;
			font-family: font-family(semibold);
		}

		&:hover{
			opacity: 0.8;
		}

		&.skin-soon{
			cursor: default;

			&:hover{
				opacity: 1;
			}
		}
	}

/*
	Collapsible
	------------------------------------- */
	.theme-collapsible-cointainer{

		.theme-collapsible{
			margin: 0;
			padding: 10px 15px;
			text-decoration: none;
			cursor: pointer;
			@include font-size(18px);
		}

		.theme-skin-title{
			margin-top: 20px;
			@include font-size(16px);
		}

		.collapse-open {
			span {
				display: block;
				float: right;
				padding:2px 10px;
				position: relative;

				&:after{
					content: "\25BC";
					@include font-size(12px);
				}
			}
		}

		.collapse-close span {
			display: block;
			float: right;
			padding:1px 10px;

			&:after{
				content: "\25C0";
				@include font-size(14px);
			}
		}

		div {
			&.content {
//				padding:0 15px;
				padding:15px;
			}
		}

	}



//  Theme
//  -------------------------------------
	.t-theme-settings-1{
		top: 151px;
	}

	.t-theme-settings-2{
		top: 193px;
	}


//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}

	@include breakpoint(max-width 320px){

		.t-theme-settings-1{
			top: 33px;
		}

		.t-theme-settings-2{
			top: 75px;
		}

	}
