/*
    Widget - Social
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-social{

		i{
			@include font-size(40px);
		}

		.social-info{
			font-family: font-family(light);
			@include font-size(18px);
		}

		span{
			font-family: font-family(semibold);
			@include font-size(24px);
		}
	}


//  State
//  -------------------------------------
	.is-social{

	}

	.is-social{

	}


/*
    Social in Header
    ------------------------------------- */
	.social-in-header{
		margin: 5px;
		width: 200px;
		padding: 11px;
		@include group;

		.social-icon{
			@include span(2/5);
		}

		.social-info{
			@include span(3/5);
			text-align: right;

			span{
				display: block;
			}
		}
	}

/*
    Social in Sidebar
    ------------------------------------- */
	.social-in-side{
		@include group;
		padding: 15px 20px;

		.social-icon{
			@include span(2/5);
		}

		.social-info{
			@include span(3/5);
			text-align: right;

			span{
				display: block;
			}
		}
	}

/*
    Social in Box
    ------------------------------------- */
	.social-in-box{
		padding:24px 30px;

		.social-icon{
			padding-bottom: 14px;
		}

		span{
			padding-right: 15px;
		}
	}

//  Theme
//  -------------------------------------
	.t-social-facebook{

	}

	.t-social-twitter{

	}

	.t-social-youtube{

	}

	.t-social-google-plus{

	}

	.t-social-instagram{

	}


//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){
		.social-in-side{
			text-align: center;

			i{
				@include font-size(35px);
			}

			.social-icon,
			.social-info{
				text-align: center;
				@include stack(2/5);
			}

			.social-icon{
				padding-bottom: 10px;
			}

			.social-info{
				@include font-size(14px);

				span{
					@include font-size(18px);
				}
			}
		}

		.social-in-box{

			span{
				display: block;
				margin-bottom: 5px;
			}
		}
	}

	@include breakpoint($screen-xs-maxx){

	}
