/*
    Widget - Members
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-members{
		padding: 15px 0;
		position: relative;

		.label{
			font-weight: normal;
			@include font-size(12px);
			padding: 4px 7px 2px;
		}

		.btn{
			padding: 4px 10px;
		}

		table{
			margin-bottom: 0;
		}

		td{
			vertical-align: middle !important;
		}

		.cb-checkbox{
			padding: 0;
		}

		.tb-col-0{
			width: 5%;
			text-align: center;
		}

		.tb-col-1{
			width: 5%;
			font-family: font-family(semibold);
		}

		.tb-col-2{
			width: 25%;
		}

		.tb-col-3{
			width: 25%;
			text-align: center;
		}

		.tb-col-4{
			width: 20%;
			text-align: center;
		}

		.tb-col-5{
			width: 20%;
			text-align: center;
		}
	}


//  State
//  -------------------------------------
	.is-members{

	}

	.is-members{

	}


/*
    Members in Header
    ------------------------------------- */
	.members-in-header{

	}

/*
    Members in Sidebar
    ------------------------------------- */
	.members-in-side{

	}

/*
    Members in Box
    ------------------------------------- */
	.members-in-box{

	}

//  Theme
//  -------------------------------------
	.t-members-1{

	}

	.t-members-2{

	}

	.t-members-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
