/*
    Widget - Shared (DRY Methodology)
    ========================================================================== */


/*
    In Header
    =============================================== */


/*
	Dropdown In Header
	------------------------------------- */

	.dropdown-in-header{

		.dropdown-toggle{
			display: block;
			padding: 18px 17px 17px;
			position: relative;
			line-height: 1;
			z-index: 1100;

			.label,
			.badge{
				position: absolute;
				top: 8px;
				left: 25px;

				padding: .4em .6em .2em;
				font-weight: normal;
			}
		}

		.dropdown-menu{
			margin: 0;
		}

		&.open{
			.dropdown-toggle{
				.label,
				.badge{
					display: none;
				}
			}
		}
	}

/*
	Dropdown Menu Header
	------------------------------------- */

	.dropdown-menu-header{
		padding: 13px 15px !important;
		margin-bottom: 10px;
		font-family: font-family(bold);
		@include font-size(16px);

		.label,
		.badge{
			padding: .4em .6em .2em;
			font-weight: normal;
		}

		span{
			font-family: font-family(base);
			float: right;
		}
	}

/*
	Dropdown Menu Footer
	------------------------------------- */

	.dropdown-menu-footer{
		padding: 0 !important;
		font-family: font-family(semibold);

		a{
			padding:12px 15px !important;
		}
	}


//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

		.dropdown-in-header{

			.dropdown-toggle{

				.label,
				.badge{
					position: static;
					vertical-align: middle;
					margin-left: 10px;
				}
			}
		}
	}
