<link href="/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
<link href="/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />