<header id="header" class="l-header-slide l-header-slide-3 t-header-slide-3">
      <div class="widget-weather-forecast l-row">
        <div class="l-span-xl-10 l-span-lg-9 l-span-md-9 l-span-sm-12">
          <div id="weatherForecast">&amp;nbsp;
          </div>
        </div>
        <div class="l-span-xl-2 l-span-lg-3 l-span-md-3 hidden-sm hidden-xs">
          <div class="weather-forecast-settings">
            <h3>Forecast Settings</h3>
            <div class="form-group">
              <div class="input-group input-group-sm">
                <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                <input type="text" placeholder="Search location" value="New York, NY" class="forecast-location form-control"><span class="input-group-btn">
                  <button type="button" class="btn btn-dark forecast-location-btn"><i class="fa fa-search"></i></button></span>
              </div>
            </div>
            <div class="forecastcheckbo">
              <div>
                <label class="forecast-unit cb-radio cb-radio-primary-1">
                  <input type="radio" name="temperature" value="f" checked="checked">Fahrenheit
                </label>
              </div>
              <div>
                <label class="forecast-unit cb-radio cb-radio-primary-1">
                  <input type="radio" name="temperature" value="c">Celsius
                </label>
              </div>
            </div><a href="#" class="forecast-geo-location">Use Your Location</a>
          </div>
        </div>
      </div>
    </header>
