
      <!--Right Sidebar Content-->
      <aside id="sb-right" class="l-sidebar t-sidebar-2 l-sidebar-hidden">
        <div class="widget-tabs">
          <ul role="tablist" class="nav nav-tabs">
            <li class="active"><a href="#sidebar-chat" role="tab" data-toggle="tab"><i class="fa fa-comments"></i>Chat</a></li>
            <li><a href="#sidebar-activity" role="tab" data-toggle="tab"><i class="fa fa-users"></i>Activity</a></li>
            <li class="last"><a href="#" data-cupcake-type="sidebar" data-cupcake-sidebar="l-sidebar-2" data-cupcake-on-all="hidden" data-cupcake-to-all="sidebar" data-cupcake-target="#sb-right" class="sidebar-switcher cupcake-widget"><i class="fa fa-times"></i></a></li>
          </ul>
          <!-- Tab panes-->
          <div class="tab-content">
            <!-- Tab Chat-->
            <div id="sidebar-chat" class="tab-pane active l-spaced-vertical">
              <div class="l-side-box m-15">
                <!-- Chat options-->
                <!-- Status Widget-->
                <div class="widget-status dropdown pull-left"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-circle-o text-success"></i> Online</a>
                  <ul role="menu" class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-circle-o text-success"></i> Online</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-warning"></i> Away</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-danger"></i> Busy</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-muted"></i> Invisible</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-dark"></i> Offline</a></li>
                  </ul>
                </div>
                <!-- Chat Setting Widget-->
                <div class="widget-chat-setting dropdown pull-right"><a href="#" data-toggle="dropdown" title="Settings" class="dropdown-toggle tt-chat"><i class="fa fa-sliders"></i></a>
                  <ul role="menu" class="dropdown-menu side-checkbo">
                    <li><a href="#">
                        <label class="cb-checkbox">
                          <input type="checkbox" value=""> Groups
                        </label></a></li>
                    <li><a href="#">
                        <label class="cb-checkbox">
                          <input type="checkbox" value=""> Favorites
                        </label></a></li>
                    <li><a href="#">
                        <label class="cb-checkbox">
                          <input type="checkbox" value=""> Online
                        </label></a></li>
                  </ul>
                </div>
              </div>
              <!-- Group Widget-->
              <div class="l-side-box">
                <div class="widget-group">
                  <div class="widget-group-header">
                    <h4 class="group-title pull-left">Groups</h4><a href="#" title="Add Group" class="tt-chat btn pull-right"><i class="fa fa-plus"></i></a>
                  </div>
                  <div class="widget-group-new"></div>
                  <div class="widget-group-body">
                    <ul>
                      <li><a href="#"><i class="fa fa-circle text-success"></i> Family</a></li>
                      <li><a href="#"><i class="fa fa-circle text-danger"></i> Friends</a></li>
                      <li><a href="#"><i class="fa fa-circle text-info"></i> Work</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Chat Widget-->
              <div class="l-side-box">
                <div class="widget-chat">
                  <div class="widget-chat-header">
                    <h4 class="chat-title pull-left">Favorites</h4><a href="#" title="Sort - Asc" class="tt-chat btn pull-right"><i class="fa fa-sort-amount-asc"></i></a>
                  </div>
                  <div class="widget-chat-body">
                    <ul>
                      <li class="chat-row first-row"><a href="#" class="chat-user">
                          <div class="chat-img"><i class="fa fa-circle text-success"></i><img src="img/widgets/user_1.jpg" alt="User"></div>
                          <div class="chat-info">
                            <h5>Timothy Walker</h5>
                            <div class="mood">I'm feeling good</div>
                          </div>
                          <ul class="chat-status">
                            <li title="Away" class="tt-chat"><i class="fa fa-circle-o text-warning"></i></li>
                            <li><span class="label label-danger">2</span></li>
                          </ul></a>
                        <div data-cupcake-type="scrollbar" data-cupcake-max-height="350" class="chat-conversation cupcake-widget">
                          <div class="chat-date-start">Yesterday 05:25pm</div>
                          <div class="chat-user user-1">
                            <div class="chat-img"><img src="img/widgets/user_1.jpg" alt="User"></div>
                            <div class="chat-info-conv">
                              <div class="chat-message">
                                <div class="chat-text">
                                  <h5>Jane Yang</h5>
                                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                </div>
                                <div class="chat-time"><span>05:25</span></div>
                              </div>
                              <div class="chat-message chat-more-message">
                                <div class="chat-text">
                                  <div>Sed et lectus congue</div>
                                </div>
                                <div class="chat-time"><span>05:28</span></div>
                              </div>
                            </div>
                          </div>
                          <div class="chat-user user-2">
                            <div class="chat-img"><img src="img/profile/profile.jpg" alt="User"></div>
                            <div class="chat-info-conv">
                              <div class="chat-message">
                                <div class="chat-text">
                                  <h5>Sal Sellside</h5>
                                  <div>Sed et lectus congue, aliquet enim vitae, viverra magna</div>
                                </div>
                                <div class="chat-time"><span>05:30</span></div>
                              </div>
                            </div>
                          </div>
                          <div class="chat-input">
                            <div class="input-group l-spaced"><span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-paperclip"></i></button></span>
                              <input type="text" placeholder="Type a message here" class="form-control"><span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-paper-plane"></i></button></span>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="chat-row"><a href="#" class="chat-user">
                          <div class="chat-img"><i class="fa fa-circle text-danger"></i><img src="img/widgets/user_2.jpg" alt="User"></div>
                          <div class="chat-info">
                            <h5>Jane Yang</h5>
                            <div class="mood">I'm feeling good</div>
                          </div>
                          <ul class="chat-status">
                            <li title="Online" class="tt-chat"><i class="fa fa-circle-o text-success"></i></li>
                            <li><span class="label label-danger">4</span></li>
                          </ul></a>
                        <div data-cupcake-type="scrollbar" data-cupcake-max-height="350" class="chat-conversation cupcake-widget">
                          <div class="chat-date-start">Today 02:32pm</div>
                          <div class="chat-user user-1">
                            <div class="chat-img"><img src="img/widgets/user_2.jpg" alt="User"></div>
                            <div class="chat-info-conv">
                              <div class="chat-message">
                                <div class="chat-text">
                                  <h5>Jane Yang</h5>
                                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                </div>
                                <div class="chat-time"><span>02:28</span></div>
                              </div>
                              <div class="chat-message chat-more-message">
                                <div class="chat-text">
                                  <div>Sed et lectus congue</div>
                                </div>
                                <div class="chat-time"><span>02:32</span></div>
                              </div>
                            </div>
                          </div>
                          <div class="chat-user user-2">
                            <div class="chat-img"><img src="img/profile/profile.jpg" alt="User"></div>
                            <div class="chat-info-conv">
                              <div class="chat-message">
                                <div class="chat-text">
                                  <h5>Sal Sellside</h5>
                                  <div>Sed et lectus congue, aliquet enim vitae, viverra magna</div>
                                </div>
                                <div class="chat-time"><span>02:45</span></div>
                              </div>
                              <div class="chat-message chat-more-message">
                                <div class="chat-text">
                                  <div>Sed et lectus congue</div>
                                </div>
                                <div class="chat-time"><span>02:32</span></div>
                              </div>
                            </div>
                          </div>
                          <div class="chat-user user-1">
                            <div class="chat-img"><img src="img/widgets/user_2.jpg" alt="User"></div>
                            <div class="chat-info-conv">
                              <div class="chat-message">
                                <div class="chat-text">
                                  <h5>Jane Yang</h5>
                                  <div>In accumsan gravida aliquet.</div>
                                </div>
                                <div class="chat-time"><span>03:01</span></div>
                              </div>
                            </div>
                          </div>
                          <div class="chat-input">
                            <div class="input-group l-spaced"><span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-paperclip"></i></button></span>
                              <input type="text" placeholder="Type a message here" class="form-control"><span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-paper-plane"></i></button></span>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="chat-row"><a href="#" class="chat-user">
                          <div class="chat-img"><i class="fa fa-circle text-info"></i><img src="img/widgets/user_3.jpg" alt="User"></div>
                          <div class="chat-info">
                            <h5>Samuel Sims</h5>
                            <div class="mood">I'm feeling good</div>
                          </div>
                          <ul class="chat-status">
                            <li title="Offline" class="tt-chat"><i class="fa fa-circle-o text-dark"></i></li>
                          </ul></a>
                        <div data-cupcake-type="scrollbar" data-cupcake-max-height="350" class="chat-conversation cupcake-widget">
                          <div class="chat-date-start">NO CONVERSATION</div>
                          <div class="chat-input">
                            <div class="input-group l-spaced"><span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-paperclip"></i></button></span>
                              <input type="text" placeholder="Type a message here" class="form-control"><span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-paper-plane"></i></button></span>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Chat Widget-->
              <div class="l-side-box">
                <div class="widget-chat">
                  <div class="widget-chat-header">
                    <h4 class="chat-title pull-left">All</h4><a href="#" title="Sort - Asc" class="tt-chat btn pull-right"><i class="fa fa-sort-amount-asc"></i></a>
                  </div>
                  <div class="widget-chat-body">
                    <ul>
                      <li class="chat-row first-row"><a href="#" class="chat-user">
                          <div class="chat-img"><i class="fa fa-circle text-info"></i><img src="img/widgets/user_5.jpg" alt="User"></div>
                          <div class="chat-info">
                            <h5>David Reynolds</h5>
                            <div class="mood">I'm feeling good</div>
                          </div>
                          <ul class="chat-status">
                            <li title="Busy" class="tt-chat"><i class="fa fa-circle-o text-danger"></i></li>
                          </ul></a>
                        <div data-cupcake-type="scrollbar" data-cupcake-max-height="350" class="chat-conversation cupcake-widget">
                          <div class="chat-date-start">Today 07:12pm</div>
                          <div class="chat-user user-1">
                            <div class="chat-img"><img src="img/widgets/user_5.jpg" alt="User"></div>
                            <div class="chat-info-conv">
                              <div class="chat-message">
                                <div class="chat-text">
                                  <h5>Jane Yang</h5>
                                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                </div>
                                <div class="chat-time"><span>07:12</span></div>
                              </div>
                            </div>
                          </div>
                          <div class="chat-user user-2">
                            <div class="chat-img"><img src="img/profile/profile.jpg" alt="User"></div>
                            <div class="chat-info-conv">
                              <div class="chat-message">
                                <div class="chat-text">
                                  <h5>Sal Sellside</h5>
                                  <div>Sed et lectus congue, aliquet enim vitae, viverra magna</div>
                                </div>
                                <div class="chat-time"><span>07:20</span></div>
                              </div>
                            </div>
                          </div>
                          <div class="chat-input">
                            <div class="input-group l-spaced"><span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-paperclip"></i></button></span>
                              <input type="text" placeholder="Type a message here" class="form-control"><span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-paper-plane"></i></button></span>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="chat-row"><a href="#" class="chat-user">
                          <div class="chat-img"><i class="fa fa-circle text-danger"></i><img src="img/widgets/user_4.jpg" alt="User"></div>
                          <div class="chat-info">
                            <h5>Carolyn Chen</h5>
                            <div class="mood">I'm feeling good</div>
                          </div>
                          <ul class="chat-status">
                            <li title="Offline" class="tt-chat"><i class="fa fa-circle-o text-dark"></i></li>
                          </ul></a>
                        <div data-cupcake-type="scrollbar" data-cupcake-max-height="350" class="chat-conversation cupcake-widget">
                          <div class="chat-date-start">NO CONVERSATION</div>
                          <div class="chat-input">
                            <div class="input-group l-spaced"><span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-paperclip"></i></button></span>
                              <input type="text" placeholder="Type a message here" class="form-control"><span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-paper-plane"></i></button></span>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Tab Activity-->
            <div id="sidebar-activity" class="tab-pane l-spaced-vertical">
              <div class="widget-activity activity-in-side">
                <div class="widget-activity-header">
                  <h4 class="activity-title pull-left">Activity</h4><a href="#" title="Sort - Asc" class="tt-chat btn pull-right"><i class="fa fa-sort-amount-asc"></i></a>
                </div>
                <div class="widget-activity-body">
                  <div class="widget-activity-item">
                    <div class="activity-text">
                      <h5><a href="#">Jane Yang</a> has signed up on <a href="#">Themeriver</a>
                      </h5>
                      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    </div>
                    <ul class="activity-status">
                      <li><i class="fa fa-user-plus text-info"></i></li>
                      <li>3 mins ago</li>
                    </ul>
                  </div>
                  <div class="widget-activity-item">
                    <div class="activity-text">
                      <h5><a href="#">Timothy Walker</a> commented on <a href="#">IOS icon</a>
                      </h5>
                      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    </div>
                    <ul class="activity-status">
                      <li><i class="fa fa-comment text-success"></i></li>
                      <li>10 mins ago</li>
                    </ul>
                  </div>
                  <div class="widget-activity-item">
                    <div class="activity-text">
                      <h5><a href="#">Howard White</a> repinned your pin.
                      </h5>
                      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    </div>
                    <ul class="activity-status">
                      <li><i class="fa fa-pinterest-p text-danger"></i></li>
                      <li>1 hour ago</li>
                    </ul>
                  </div>
                  <div class="widget-activity-item">
                    <div class="activity-text">
                      <h5><a href="#">Andrea Santos</a> followed you.
                      </h5>
                      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    </div>
                    <ul class="activity-status">
                      <li><i class="fa fa-check text-dark"></i></li>
                      <li>2 hours ago</li>
                    </ul>
                  </div>
                  <div class="widget-activity-item">
                    <div class="activity-text">
                      <h5><a href="#">Ethan Davis</a> took a photo.
                      </h5>
                      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    </div>
                    <ul class="activity-status">
                      <li><i class="fa fa-camera text-warning"></i></li>
                      <li>5 hours ago</li>
                    </ul>
                  </div>
                  <div class="widget-activity-item">
                    <div class="activity-text">
                      <h5><a href="#">Mark Duncan</a> liked <a href="#">Cupcake</a>
                      </h5>
                      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    </div>
                    <ul class="activity-status">
                      <li><i class="fa fa-heart text-danger"></i></li>
                      <li>8 hours ago</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
