<!-- Main sidebar -->
<div class="sidebar sidebar-main">
	<div class="sidebar-content">

		<!-- User menu -->
		<div class="sidebar-user">
			<div class="category-content">
				<div class="media">
					<a href="#" class="media-left">
						<img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
					</a>
					<div class="media-body">
						<span class="media-heading text-semibold">Joshua Easter</span>
						<div class="text-size-mini text-muted">
							<i class="icon-pin text-size-small"></i> &nbsp;Raleigh, NC
						</div>
					</div>

					<div class="media-right media-middle">
						<ul class="icons-list">
							<li>
								<a href="#"><i class="icon-cog3"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /user menu -->


		<!-- Main navigation -->
		<div class="sidebar-category sidebar-category-visible">
			<div class="category-content no-padding">


				<ul class="navigation navigation-main navigation-accordion">

					<!-- Main -->
					<li class="navigation-header">
						<span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
					<li ><a href="index.html"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
					<li>
						<a href="#"><i class="icon-stack2"></i> <span>Page Layouts</span></a>
						<ul>
							<li><a href="layout_navbar_fixed.html">Fixed navbar</a></li>
							<li><a href="layout_navbar_sidebar_fixed.html">Fixed navbar &amp; sidebar</a></li>
							<li><a href="layout_sidebar_fixed_native.html">Fixed sidebar native scroll</a></li>
							<li><a href="layout_navbar_hideable.html">Hideable navbar</a></li>
							<li><a href="layout_navbar_hideable_sidebar.html">Hideable &amp; fixed sidebar</a></li>
							<li><a href="layout_footer_fixed.html">Fixed footer</a></li>
							<li class="navigation-divider"></li>
							<li><a href="boxed_default.html">Boxed with default sidebar</a></li>
							<li><a href="boxed_mini.html">Boxed with mini sidebar</a></li>
							<li><a href="boxed_full.html">Boxed full width</a></li>
						</ul>
					</li>






					<li >
						<a href="#"><i class="icon-copy"></i> <span>Layouts</span><span class=" arrow"></span></a>
						<ul>
							<li><a href="index.html" id="layout1">Layout 1 <span class="label bg-warning-400">Current</span></a></li>
							<li><a href="../../layout_2/index.html" id="layout2">Layout 2</a></li>
							<li><a href="../../layout_3/index.html" id="layout3">Layout 3</a></li>
							<li><a href="../../layout_4/index.html" id="layout4">Layout 4</a></li>
							<li class="disabled"><a href="../../layout_5/index.html" id="layout5">Layout 5 <span class="label">Coming soon</span></a></li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="icon-droplet2"></i> <span>Color system</span></a>
						<ul>
							<li><a href="colors_primary.html">Primary palette</a></li>
							<li><a href="colors_danger.html">Danger palette</a></li>
							<li><a href="colors_success.html">Success palette</a></li>
							<li><a href="colors_warning.html">Warning palette</a></li>
							<li><a href="colors_info.html">Info palette</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="icon-stack"></i> <span>Starter kit</span></a>
						<ul>
							<li><a href="starters/horizontal_nav.html">Horizontal navigation</a></li>
							<li><a href="starters/1_col.html">1 column</a></li>
							<li><a href="starters/2_col.html">2 columns</a></li>
							<li>
								<a href="#">3 columns</a>
								<ul>
									<li><a href="starters/3_col_dual.html">Dual sidebars</a></li>
									<li><a href="starters/3_col_double.html">Double sidebars</a></li>
								</ul>
							</li>
							<li><a href="starters/4_col.html">4 columns</a></li>
							<li>
								<a href="#">Detached layout</a>
								<ul>
									<li><a href="starters/detached_left.html">Left sidebar</a></li>
									<li><a href="starters/detached_right.html">Right sidebar</a></li>
									<li><a href="starters/detached_sticky.html">Sticky sidebar</a></li>
								</ul>
							</li>
							<li><a href="starters/layout_boxed.html">Boxed layout</a></li>
							<li class="navigation-divider"></li>
							<li><a href="starters/layout_navbar_fixed_main.html">Fixed main navbar</a></li>
							<li><a href="starters/layout_navbar_fixed_secondary.html">Fixed secondary navbar</a></li>
							<li><a href="starters/layout_navbar_fixed_both.html">Both navbars fixed</a></li>
							<li><a href="starters/layout_fixed.html">Fixed layout</a></li>
						</ul>
					</li>
					<li><a href="changelog.html"><i class="icon-list-unordered"></i> <span>Changelog <span class="label bg-blue-400">0.0.1</span></span></a></li>

					<!-- /main -->

					<!-- Appearance -->
					<li class="navigation-header">
						<span>Appearance</span> <i class="icon-menu" title="Appearance"></i></li>
					<li >
						<a href="#"><i class="icon-grid"></i> <span>Components</span><span class=" arrow"></span></a>
						<ul>
							<li ><a href="buttons.html">Buttons</a></li>
							<li ><a href="buttons2.html">Buttons 2</a></li>
							<li><a href="components_dropdowns.html">Dropdown menus</a></li>
							<li><a href="components_tabs.html">Tabs component</a></li>
							<li><a href="components_pills.html">Pills component</a></li>
							<li><a href="components_navs.html">Accordion and navs</a></li>
							<li><a href="components_notifications_pnotify.html">PNotify notifications</a></li>
							<li><a href="components_notifications_others.html">Other notifications</a></li>
							<li><a href="components_popups.html">Tooltips and popovers</a></li>
							<li><a href="components_alerts.html">Alerts</a></li>
							<li><a href="components_pagination.html">Pagination</a></li>
							<li><a href="components_labels.html">Labels and badges</a></li>
							<li><a href="components_loaders.html">Loaders and bars</a></li>
							<li><a href="components_thumbnails.html">Thumbnails</a></li>
							<li><a href="components_page_header.html">Page header</a></li>
							<li><a href="components_breadcrumbs.html">Breadcrumbs</a></li>
							<li><a href="components_media.html">Media objects</a></li>
							<li><a href="components_affix.html">Affix and Scrollspy</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="icon-puzzle2"></i> <span>Content appearance</span></a>
						<ul>
							<li><a href="appearance_content_panels.html">Content panels</a></li>
							<li><a href="appearance_panel_heading.html">Panel heading elements</a></li>
							<li><a href="appearance_draggable_panels.html">Draggable panels</a></li>
							<li><a href="appearance_text_styling.html">Text styling</a></li>
							<li><a href="appearance_typography.html">Typography</a></li>
							<li><a href="appearance_helpers.html">Helper classes</a></li>
							<li><a href="appearance_syntax_highlighter.html">Syntax highlighter</a></li>
							<li><a href="appearance_content_grid.html">Grid system</a></li>
						</ul>
					</li>
					<!-- /appearance -->



				</ul>
			</div>
		</div>
		<!-- /main navigation -->

	</div>
</div>
<!-- /main sidebar -->
