/*
* Button Shapes
*
* This file creates the various button shapes
* (ex. Circle, Rounded, Pill)
*/

@each $cbtn-shape in $cbtn-shapes {
  $cbtn-shape-name: nth($cbtn-shape, 1);
  $cbtn-shape-radius: nth($cbtn-shape, 2);

  #{$cbtn-namespace}-#{$cbtn-shape-name} {
    @if($cbtn-use-compass) {
      @include border-radius($cbtn-shape-radius);
    }
    @else {
      border-radius: $cbtn-shape-radius;
    }
  }
}


/*
* Size Adjustment for equal height & widht buttons
*
* Remove padding and set a fixed width.
*/
#{$cbtn-namespace}-circle,
#{$cbtn-namespace}-box,
#{$cbtn-namespace}-square {
  padding: 0 !important;
  width: $cbtn-height;

  @each $cbtn-sizes-hash in $cbtn-sizes {
    $cbtn-size: nth($cbtn-sizes-hash, 1);
    $cbtn-multiplier : nth($cbtn-sizes-hash, 2);
    $cbtn-size-namespace: #{$cbtn-namespace}-#{$cbtn-size};

    &#{$cbtn-size-namespace} {
      width: $cbtn-height * $cbtn-multiplier;
    }
  }
}