/*
* Button Sizes
*
* This file creates the various button sizes
* (ex. .button-large, .button-small, etc.)
*/
@each $cbtn-size in $cbtn-sizes {
  $cbtn-size-name: nth($cbtn-size, 1);
  $cbtn-size-multiplier: nth($cbtn-size, 2);
  $cbtn-size-namespace: #{$cbtn-namespace}-#{$cbtn-size-name};

  #{$cbtn-size-namespace} {
    font-size: $cbtn-font-size * $cbtn-size-multiplier;
    height: $cbtn-height * $cbtn-size-multiplier;
    line-height: $cbtn-height * $cbtn-size-multiplier;
    padding: 0 ($cbtn-height * $cbtn-size-multiplier);
  }
}