/*
    New App
    ========================================================================== */

/*
	Content
	------------------------------------- */

	/* Mail buttons */
	.btn-mail,
	.message-content .btn{
		@include button-variant($btn-mail-c, $btn-mail-bg, $btn-mail-bd, 2%, 4%, 4%, 8%);
		@include box-shadow(0 1px 1px rgba(0,0,0,0.05));
	}

	.btn-mail-send{
		@include button-variant($btn-mail-send-c, $btn-mail-send-bg, lighten($btn-mail-send-bd, 10%), 3%, 5%, 5%, 10%);
		@include box-shadow(0 1px 1px rgba(0,0,0,0.1));
	}

	.drop-mail,
	.message-content .dropdown-menu{
		@include dropdown-variant($drop-mail-c, $drop-mail-bg, $drop-mail-bd, 3%);
	}


	/* Mail options */
	.mail-options{
		border-top: 1px solid $mail-options-bd;
		border-bottom: 1px solid $mail-options-bd;
		background: $mail-options-bg;

		.caret{
			color: $mail-caret-c;
		}
	}

	.mail-select{
		.btn-label{

			.cb-inner{
				border-color: $mail-cb-inner-bd;
			}

			&:hover,
			&:focus,
			&.active{
				background: $mail-btn-label-bg-ho;
				border: 1px solid $mail-btn-label-bd-ho;
				@include box-shadow(none);
			}
		}
	}

	.mail-refresh{

	}

	.mail-reply{

	}

	.mail-organization{

	}

	.mail-sorting{

	}

	.mail-more{

	}

	.mail-layout{

	}

	/* Mail content */
	.mail-content{

	}

	.mail-list-container{
		background: $mail-list-container-bg;
		@include box-shadow(0 1px 1px rgba(0,0,0,.1));
	}

	.mail-list{

		table tr:first-child td { border-top: none; }

		.table-hover > tbody > tr:hover {
			background-color: lighten($mail-list-tr-bg-ho, 36%);;
		}

		// Columns
		.col-input{

		}

		.col-sender{
			.fa-star{ color: $mail-star-c; }
			.fa-star-o{ color: $mail-star-o-c; }
		}

		.col-subject{

		}

		.col-attachment{

		}

		.col-time{

		}

		// Elements
		.mail-profile{

		}

		.unread{

		}

		.starred{

		}

		.sender{

		}

	}

	/* Mail details */
	.mail-details{
		background: $mail-details-bg;

		.mail-profile{

		}
	}

	/* Mail details - header */
	.mail-details-header{
		background: $mail-details-header-bg;
		border-top: 1px solid $mail-details-header-bd;
		@include box-shadow(0 1px 1px rgba(0,0,0,.1));
	}

	.mail-details-subject{
		@include font-size(20px);
		line-height: 1.7;
	}

	.mail-details-options{

		.caret{
			color: $mail-caret-c;
		}
	}

	.mail-details-print{

		i{

		}
	}

	/* Mail details - message */
	.mail-details-message{
		border-bottom: 1px solid $mail-details-message-bd;
		@include box-shadow(0 1px 1px rgba(0,0,0,.1));
	}

	.mail-details-message-header{
		background: $mail-details-message-header-bg;
		border-bottom: 1px solid $mail-details-message-header-bd;
		border-top: 1px solid $mail-details-message-header-bd;
		@include font-size(17px);
	}

	.mail-details-sender{

	}

	.mail-details-time{

	}

	.mail-details-message-body{
		background: $mail-details-message-body-bg;
		color: $mail-details-message-body-c;
	}

	.mail-details-message-attachment{
		background: $mail-details-message-attachment-bg;
		border: 1px solid $mail-details-message-attachment-bd;
	}

	.mail-details-attachment-header{

	}

	.mail-details-attachment-body{
		.well{
			@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.05));
		}
	}


	/* Mail layouts */
	.mail-layout-right{
		.mail-list{
			
		}
	
		.mail-details{
			
		}

		.mail-list-container{
			border-right: 1px solid $mail-list-container-bd;
		}
	}
	
	.mail-layout-bottom{
		.mail-list{
			
		}
		.mail-details{
//			border-top: 1px solid $color-1;
		}
	}
	
	.mail-layout-none{
		.mail-list{
			
		}
		.mail-details{
			
		}
	}


	/* New message */
	.new-message{
		background: $new-message-bg;
	}

	.new-message-title{
		background: $new-message-title-bg;
		border-top: 1px solid $new-message-title-bd;
		line-height: 1.7;
		@include font-size(20px);
		@include box-shadow(0 1px 1px rgba(0,0,0,.1));
	}

	.new-message-header{
		background: $new-message-header-bg;
		border-bottom: 1px solid $new-message-header-bd;
		border-top: 1px solid $new-message-header-bd;
	}

	.new-message-send{

	}

	.message-content {
		.note-editor{
			border-color: $new-message-note-editor-bd;
			.note-toolbar{
				background: $new-message-note-toolbar-bg;
				border-bottom-color: $new-message-note-editor-bd;
			}

			.note-statusbar .note-resizebar{
				border-top-color: $new-message-note-editor-bd;
			}
		}
	}
	
	.input-upload[readonly]{
		background: $input-upload-bg;
		border-color: $input-upload-bd;
	}

	.new-message-draft{

	}

	.new-message-discard{

	}

	.new-message-body{

	}

	.new-message-to{

	}

	.new-message-cc{

	}

	.new-message-bcc{

	}

	.close-cc{

	}

	.close-bcc{

	}

	.new-message-footer{
		background: $new-message-footer-bg;
		border-bottom: 1px solid $new-message-footer-bd;
		border-top: 1px solid $new-message-footer-bd;
	}


/*
	Sidebars and Slidebars
	------------------------------------- */
	.mail-compose{

	}

	.btn-mail-compose{
		color: $btn-mail-compose-c;
		background: $btn-mail-compose-bg;

		&:hover{
			color: $btn-mail-compose-c;
			background: $btn-mail-compose-bg-ho;
		}
	}

	.mail-side-sep{
		border-top: 1px solid $mail-side-sep-bd;
	}

	.mail-side-header{


		h4{
			color: $mail-side-header-c;

			a{
				color: $mail-side-header-c;

				&:hover{
					color: $mail-side-header-ho;
				}
			}
		}

		&:hover{
			.btn-add-more{

			}
		}

		.btn-add-more{
			color: $btn-add-more-c;

			&:hover{
				color: $btn-add-more-ho;
			}
		}
	}


	.btn-toggle-folder{

		span{

		}
		i{



			&.active{

			}
		}
	}

	.folders-list{

	}

	/* Label colors and bg colors */

	.label-bg-color-1{ background-color: $mail-label-1-mu; }
	.label-bg-color-2{ background-color: $mail-label-2-mu; }
	.label-bg-color-3{ background-color: $mail-label-3-mu; }
	.label-bg-color-4{ background-color: $mail-label-4-mu; }
	.label-bg-color-5{ background-color: $mail-label-5-mu; }

	.label-color-1{ color: $mail-label-1-mu; }
	.label-color-2{ color: $mail-label-2-mu; }
	.label-color-3{ color: $mail-label-3-mu; }
	.label-color-4{ color: $mail-label-4-mu; }
	.label-color-5{ color: $mail-label-5-mu; }


//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
