/*
    Login
    ========================================================================== */

	// General Styles for Login, Forgot Password, Change Password, Register Page
	.login-bg{
		background: url("../img/pages/login_medium_purple.jpg") repeat center top;
	}

	.login-wrapper{
		color:$login-wrapper-c;
		background: rgba($login-wrapper-bg, 0.45);
		border-top: 1px solid rgba($login-wrapper-bd, 0.3);
		border-bottom: 1px solid rgba($login-wrapper-bd, 0.3);
		@include box-shadow(inset 0 0 250px 100px rgba(0,0,0,.02));
	}

	.login-container{

	}

	.login-logo{

	}

	.login-form{

		input{
			border: 1px solid $login-input-bd;


			&:hover{
				background: lighten($login-input-bg, 32%);
				border-color: $login-input-bd-ho;
			}

			&:focus{
				background: lighten($login-input-bg, 30%);
				border-color: $login-input-bd-fo;
			}

			&.error{
				background: lighten($login-input-error-bg, 33%);
				border-color: $login-error-c;
			}
		}

		.btn{
			color: $login-btn-c;
		}

		label.error{
			color: $login-error-c;
		}
	}

	.or {
		color: $login-or-c;
	}

	.login-social{

	}

	.btn-login{
		background: $login-login-bg;
		border: none;

		&:hover{ background: $login-login-bg-ho; }
		&:focus{ background: $login-login-bg-fo; }
	}

	.btn-facebook{
		background: $login-facebook-bg;

		&:hover{ background: $login-facebook-bg-ho; }
		&:focus{ background: $login-facebook-bg-fo; }
	}

	.btn-twitter{
		background: $login-twitter-bg;

		&:hover{ background: $login-twitter-bg-ho; }
		&:focus{ background: $login-twitter-bg-fo; }
	}

	.login-options{
		a{
			color: $login-options-c;

			&:hover{
				color: $login-options-ho;
			}
		}
	}

	// Register Page specific Styles

	.btn-login-register{
		color: $login-register-c !important;
		border: none;
	}

	.login-form {
		.checkradios {
			border: 1px solid $login-checkradios-bd;
		}
	}

	.errorTerms{
		.checkradios{
			color: $login-error-c;
			border-color: $login-error-c;
		}
	}

	// Lock Screen Page specific Styles

	.lock-screen-image{
		img{
			border: 5px solid rgba($login-lock-screen-bd, 0.8);
			@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));

			&:hover{
				border-color: rgba($login-lock-screen-bd-ho, 0.5);
			}
		}
	}


//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
