/*
    Lock Screen
    ========================================================================== */

    #error-bg{
        background: $color-error-bg;
    }

    #error-particle{
        background: $color-error-dot;
        color: $color-error-line;
    }


/*
    Error 403
    ------------------------------------- */
    .error-403-content{
        background: $error-403-bg;
		border: 1px solid $error-403-bd;
		@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
    }

/*
    Error 404
    ------------------------------------- */
    .error-404{
		color: $error-404-c;
        background: rgba($error-404-bg, 0.6);
    }

    .error-404-content{
//        color: color(white);
    }

/*
    Error 405
    ------------------------------------- */

    .error-405-container{
        background: rgba($error-405-bg, 0.2);
    }

    .error-405{

    }

    .error-405-content{
        background: rgba($error-405-content-bg, 0.8);
		@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.05));
		@include border-radius($s-radius);
    }

/*
    Error 503
    ------------------------------------- */
    .error-503-header{
        background: $error-503-header-bg;
    }
    .error-503-body{
        background: $error-503-body-bg;
    }


//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
