//
// Mixins
//


// -------------------------------------------------------------
// # Media queries
// -------------------------------------------------------------

// @include bp(medium) { property: value; }
@mixin bp($point) {
    @if $point == xs {
        @media (min-width: $bp-xs) { @content; }
    }
    @else if $point == sm {
        @media (min-width: $bp-sm) { @content; }
    }
    @else if $point == md {
        @media (min-width: $bp-md) { @content; }
    }
    @else if $point == lg {
        @media (min-width: $bp-lg) { @content; }
    }
    @else if $point == xl {
        @media (min-width: $bp-xl) { @content; }
    }
}


// -------------------------------------------------------------
// # Clearfix
// -------------------------------------------------------------

// @include clearfix
@mixin clearfix {
    &:before,
    &:after {
        display: table;
        content: '';
    }

    &:after {
        clear: both;
    }
}


// -------------------------------------------------------------
// # Positioning
// -------------------------------------------------------------

// @include cover
@mixin cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// @include center
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// -------------------------------------------------------------
// # Arrows
// -------------------------------------------------------------

@mixin css-arrow($arrow-position, $arrow-color, $arrow-size) {

    &:after {
        position: absolute;
        top: auto;
        left: auto;
        margin: 0;
        border: solid transparent;
        border-width: $arrow-size;
        border-color: transparent;
        width: 0;
        height: 0;
        content: '';
        pointer-events: none;
    }

    @if $arrow-position == 'top' {

        &:after {
            bottom: 100%;
            left: 50%;
            margin-left: (-$arrow-size);
            border-bottom-color: $arrow-color;
        }
    }

    @if $arrow-position == 'right' {

        &:after {
            top: 50%;
            left: 100%;
            margin-top: (-$arrow-size);
            border-left-color: $arrow-color;
        }
    }

    @if $arrow-position == 'bottom' {

        &:after {
            top: 100%;
            left: 50%;
            margin-left: (-$arrow-size);
            border-top-color: $arrow-color;
        }
    }

    @if $arrow-position == 'left' {

        &:after {
            top: 50%;
            right: 100%;
            margin-top: (-$arrow-size);
            border-right-color: $arrow-color;
        }
    }
}
