//
// SETTINGS
//


// -------------------------------------------------------------
// # Typography
// -------------------------------------------------------------

// Fonts
$sans:                      'Helvetica Neue';
$serif:                     'Georgia';
$mono:                      'Monaco';

// Base
$font-size:                 16px;
$line-height:               1.6;

// Other
$font-size--large:          $font-size + 2;
$font-size--small:          $font-size - 2;
$regular:                   400;
$bold:                      700;
$letter-spacing:            1px;


// -------------------------------------------------------------
// # Layout
// -------------------------------------------------------------

// Site
$site-width:                90%;
$site-max-width:            740px;

// Grid
$cols:                      12;
$gutter:                    20px;

// Breakpoints
$bp-sm:                     420px;
$bp-md:                     700px;
$bp-lg:                     1000px;
$bp-xl:                     1300px;

// Default spacing
$margin:                    $font-size;


// -------------------------------------------------------------
// # Colors
// -------------------------------------------------------------

$black:                     #222;
$grey:                      #333;
$milk:                      #666;
$white:                     #999;

$green:                     #008000;


// -------------------------------------------------------------
// # Misc
// -------------------------------------------------------------

$radius:                    3px;
